<div class="instagram-media instagram-media-rendered">
    <div class="Embed EmbedExpanded">

        <header class="EmbedHeader">
            <a class="ehAvatarLink embedNonTextLink" href="/instagram/" target="_blank">
                <img class="ehAvatar" src="https://instagram.fiev2-1.fna.fbcdn.net/t51.2885-19/s150x150/14719833_310540259320655_1605122788543168512_a.jpg">
            </a>
            <div class="ehNextToAvatar">
                <a class="ehUsername ehVerifiedUsername notranslate" href="/instagram/" target="_blank">
                    instagram
                </a>
            </div>
            <div class="ehRight">
                <div class="ehCallToAction"><span><a class="_qxzq2 _nwpvm _l7aem" href="/p/tsxp1hhQTG/" target="_blank">Follow</a></span></div>
            </div>
        </header>

        <div class="EmbedFrame EmbedMedia" style="">
            <a class="efImageLink embedNonTextLink" href="/p/tsxp1hhQTG/" target="_blank" style="background-image: url(https://instagram.fiev2-1.fna.fbcdn.net/t51.2885-15/e15/1538350_1528374764070564_1190643161_n.jpg);"></a>
        </div>

        <footer class="EmbedFooter">
            <div class="EmbedSocialProof">
                <a class="espMetric" data-log-event="clickthru" href="/p/tsxp1hhQTG/" target="_blank">
                    <div class="embedSpriteLikesNew espMetricIcon"></div>
                    <div class="espMetricText">
                        <span class="espMetricTextCollapsible"></span>301.6 th.<span class="espMetricTextCollapsible">  preferences</span>
                    </div>
                </a>
                <a class="espMetric" href="/p/tsxp1hhQTG/" target="_blank">
                    <div class="embedSpriteCommentsNew espMetricIcon"></div>
                    <div class="espMetricText">
                        <span class="espMetricTextCollapsible"></span>3,514<span class="espMetricTextCollapsible"> comments</span>
                    </div>
                </a>
            </div>

            <div class="EmbedCaption">
                We’re putting the Weekend Hashtag Project on hold this weekend. Instead, we’re challenging people around the world to participate in the 10th Worldwide InstaMeet! Grab a few good friends or meet up with a larger group in your area and share your best photos and videos from the InstaMeet with the <a href="/explore/tags/WWIM10/" data-ios-link="tag?name=WWIM10" data-log-event="tagvisit" target="_blank">#WWIM10</a> hashtag for a chance to be featured on our blog Monday morning. Be sure to include the name of the location where your event took place along with the unique hashtag you've chosen for your InstaMeet in your caption. Photo by <a href="/sun_shinealight/" data-ios-link="user?username=sun_shinealight" data-log-event="mentionvisit" target="_blank">@sun_shinealight</a>
            </div>

            <a class="EmbedTimestamp" href="/p/tsxp1hhQTG/" target="_blank">3 жовтня 2014 р.</a>
            <div class="EmbedFooterLogoContainer">
                <a class="EmbedLogo embedNonTextLink" href="/p/tsxp1hhQTG/" target="_blank">
                    <span class="embedSpriteGlyph elSprite embedHideText">Instagram</span>
                </a>
            </div>
        </footer>

    </div>
</div>


