/* About */

/* Designer Page */
.about-section{
  overflow: hidden;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  display: flex;

  .section-bg {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-size: cover;
    height: 100%;
    width:100%;
    overflow: hidden;
    @media screen and (max-width: 767px) {
      background-position: center right 70%;
      background-repeat: no-repeat;
    }
  }




  &.collection-tpl3{

    .collection-tpl3-item{

      @media screen and (min-width: 768px) {
        padding-top: 50%;
      }

      @media screen and (max-width: 767px) {
          min-height: initial;
          padding-top: initial;
        a.item-gallery{
          position: relative;
        }
      }



      a.item-gallery{
        transform: none;
      }

      .mfp-img{
        max-width: 100%;
      }

    }

  }

}

.designer {
  &-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    @media screen and (max-width: 991px) {
      padding-top: 100%;
    }
  }

  &-text {
    align-self: center;
    h2 {
      font-size: 24px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      text-align: left;
      font-weight: 400;
    }

    &-content {
      margin: 0 0 55px 0;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      padding-bottom: 30px;

      @media screen and (min-width: 992px) {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media screen and (min-width: 1199px) {
        padding-left: 80px;
        padding-right: 172px;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      p {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: left;
        font-weight: 400;
        margin: 0 0 29px 0;
        @media screen and (max-width: 767px) {
          margin: 0 0 15px 0;
        }
      }

      @media screen and (max-width: 767px) {
        margin: 0;
        padding-bottom: 20px;
      }


    }
  }

  &-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    @media screen and (min-width: 992px) {
      flex: 1 1 auto;
    }

    @media screen and (max-width: 991px) {
      flex-direction: column;
      height: auto;
      flex-wrap: nowrap;
      width: 100%;
      padding: 0;
    }
  }
}

/* Production Page */
.production {
  overflow: hidden;

 @media screen and (max-width: 992px) {
    min-height: 700px;
  }

  @media screen and (max-width: 768px) {
    min-height: 480px;
  }

  .section-bg {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-size: cover;
    height: 100%;
    width:100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 767px) {
      background-repeat: no-repeat;
    }
  }


  .video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;

    .row {
      margin: 0;
    }

    video {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }
  }

  @media screen and (min-width: 992px) {
    & .reverse {
      flex-direction: row-reverse;
    }
  }

  & .designer-text-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 992px) {
      padding-left: 75px;
      padding-right: 75px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media screen and (min-width: 1199px) {
      padding: 30px 130px;
    }

  }

  &-tpl3 {
    &-text {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.5;
      text-align: left;
      padding: 60px 15px;

      @media screen and (min-width: 992px) {
        padding: 60px 30px;
      }

      @media screen and (min-width: 1199px) {
        padding: 60px 50px;
      }

      @media screen and (max-width: 767px) {
        padding: 20px 15px;
      }

    }

    &-images {
      height: 75%;
      display: flex;
      flex-direction: row;
      width: 100%;
      @media screen and (max-width: 767px){
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;

        .designer-bg {
          min-height: 450px;
          padding-top: initial;
        }
      }

      @media screen and (max-height: 815px){
        .designer-bg {
          padding-top: 75%;
        }
      }

      .slider-flex-btn-wrap{
        align-self: center;
      }
    }

    & .flex-row {
      flex-wrap: wrap;
      flex: auto;
    }


    &.press-tpl2 {
        .production-tpl3-images {
          overflow: hidden;
        }
    }


  }

  &-tpl4{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;

    .flex{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 100%;
    }

    @media screen and (max-height: 649px) {
      .designer-bg {
        padding-top: 50%;
      }
    }

  }
}

.press-tpl3 {

  .slider-flex {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .slick-track, .slick-list{
      display: flex;
    }

    & .press-slider-item {
      flex-basis: 33%;
      max-width: 33%;
      width: 33%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      min-height: 650px;
      max-height: 720px;
    }

  }

  & .slider-right {
    background: none;
    width: 100%;
    border: 0;
    box-shadow: none;
    outline: 0;

    img {
      transform: rotate(180deg);
      padding-top: 1px;
    }

    span {
      display: inline-block;
      padding-right: 6px;
    }

    @media screen and (max-width: 991px) {
      display: block;
      margin: 20px 0 0 0;
    }
  }

  &-images {
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: auto;
  }

  @media screen and (max-width: 991px) {
    & .flex-row {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .slick-list{
    width: 100%;
  }
}


.press-tpl4 {
  padding-bottom: 159px;
  padding-top: 25px;

  @media screen  and (max-width: 767px){
    padding-bottom: 25px;
  }

  & .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  & .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2{
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      margin: 48px 0 10px 0;
      font-weight: 400;
  }

  p{
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.5;
      text-align: center;
      margin-top: 25px;
  }


}


.instagram {
  padding-top: 15px;
  padding-bottom: 100px;
}

/* Customer */

.customer {
  p{
    margin: 0 0 25px 0;
    line-height: 1.5;
  }

  p.text-two-column{
    column-count: 2;
    column-gap: 30px;
    @media screen and (max-width: 767px) {
      column-count: 1;
      column-gap: 0;
    }
  }
}