/* All news TPL */

.all__press {
  overflow: hidden;

  &-item {
    overflow: hidden;
    h2 {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: left;
      font-weight:300;
      margin: 0 0 50px 0;
      @media screen and (max-width: 768px) {
        margin: 0 0 20px 0;
        font-size: 20px;
      }
    }

    &-wrap {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      font-weight:300;
      padding-left: 80px;
      padding-right: 120px;

      @media screen and (max-width: 1199px) {
        padding-right: 30px;
        padding-left: 30px;
      }
    }


    &-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      @media screen and (max-width: 768px) {
        display: block;
      }

      &.reverse{
        flex-direction: row-reverse;

        .all__press-item-wrap{
          padding-right: 120px;
          padding-left: 120px;
          @media screen and (max-width: 1199px) {
            padding-right: 30px;
            padding-left: 30px;
          }
        }
      }
    }

    &-text {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.5;
      text-align: left;
      margin-bottom: 60px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
      p{
        margin: 0;
      }

      &-content{
        padding: 60px 0;
        @media screen and (max-width: 768px) {
          padding: 30px 0;
        }
      }
    }
  }


  &-item3 {

    &-text {
      padding: 60px 0 80px 0;
      @media screen and (max-width: 768px) {
        padding: 30px 0 30px 0;
      }
    }

    .all__press-item-wrap{
      padding-right: 120px;
      padding-left: 120px;
      @media screen and (max-width: 1199px) {
        padding-right: 30px;
        padding-left: 30px;
      }
    }

  }

  .readMore {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: left;
    position: relative;
    display: block;
    max-width: 95px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }

    img{
      padding-left: 15px;
      transition: 0.8s;
      top: 50%;
      transform: translate(0, -50%)  rotate(180deg);
      opacity: 0;
      position: absolute;
      animation: arrow_move_left 1.5s infinite;
    }
  }

}

.all__press-item3{

  .slider-flex-btn-wrap{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      display: block;
    }


    .readMore{
      align-self: center;
      display: block;
      max-width: 100px;
      min-width: 95px;

      @media screen and (max-width: 768px) {
        margin-left: 30px;
        margin-top: 40px;
      }

    }
  }

  &-flex{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      display: block;
    }

  }

  .all__press-item-text-content{
    padding: 0;
  }

  .all__press-item-text{
    margin-bottom: 0;
  }


  .readMore{

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }

  }
}



/* Single News */

.all__press-single{

  .press-tpl4{
    padding: 30px 0 60px 0;

    @media screen and (max-width: 768px) {
      padding: 20px 0 20px 0;
    }

    h2,h3,h4,h5,h6 {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1;
      text-align: center;
      font-weight:300;
      margin: 0 0 30px 0;
      @media screen and (max-width: 768px) {
        margin: 0 0 20px 0;
        font-size: 20px;
      }
    }

    p{
      margin-bottom: 0;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.5;
      text-align: center;
      @media screen and (max-width: 768px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }

}