/* BAG */

.bag {
  .container-fluid {
    @media screen and (min-width: 1500px) {
      padding: 0 50px;
    }
  }

  table {
    width: 100%;

    thead {
      border-bottom: 1px solid #727272;
      vertical-align: middle;
      & tr {
        vertical-align: middle;
        th {
          vertical-align: middle;
          border-bottom: 1px solid #727272;
          font-size: 16px;
          color: rgb(0, 0, 0);
          line-height: 1.2;
          font-weight: 300;
          text-align: center;
          padding: 0 0 24px 0;

          &:first-child {
            text-align: left;
          }

          .back-btn {
            position: relative;
            left: initial;
          }

          @media screen and (max-width: 991px) {
            display: table-cell;
            padding: 5px;
            font-weight: normal;
            font-size: 15px;
            text-align: left;
            vertical-align: top;
            &:nth-child(2) {
              width: 50% !important;
            }

            &:nth-child(4) {
              width: 25% !important;
            }

            &:nth-child(5) {
              width: 25% !important;
              text-align: center;
            }
          }

          @media screen and (max-width: 600px) {
            font-size: 13px;
          }

        }

      }

    }

    tbody {
      & tr {
        vertical-align: middle;
        td {
          vertical-align: middle;
          border-bottom: 1px solid #c4c4c4;
          padding: 15px 0;

          @media screen and (max-width: 991px) {
            display: table-cell;
            padding: 5px;
            font-weight: normal;
            font-size: 14px;
            &:nth-child(2) {
              width: 50% !important;
            }

            &:nth-child(4) {
              width: 25% !important;
            }

            &:nth-child(5) {
              width: 25% !important;
            }
          }
        }
        &:last-child {
          td {
            border-bottom: 1px solid #727272;
          }
        }
      }
    }
  }

  &__item {

    &-thumb {
      @media screen and (min-width: 1500px) {
        width: 15%;
      }

      @media screen and (max-width: 991px) {
        display: block;
      }

      @media screen and (min-width: 992px) and (max-width: 1500px) {
        width: 25%;
      }
    }

    &-info {
      @media screen and (min-width: 992px) {
        width: 35%;
      }
      @media screen and (max-width: 991px) {
        display: block;
      }
      .name {
        font-size: 24px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        text-align: left;
        font-weight: 300;
        margin-bottom: 30px;

        @media screen and (max-width: 991px) {
          padding-right: 50px;
          margin-bottom: 10px;
        }

        @media screen and (max-width: 600px) {
          font-size: 15px;
          padding-right: 15px;
        }
      }

      .size {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: left;
        font-weight: 300;
        margin-bottom: 5px;

        @media screen and (max-width: 600px) {
          font-size: 13px;
        }

      }

      .color {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 1.5;
        text-align: left;
        font-weight: 300;
        @media screen and (max-width: 600px) {
          font-size: 13px;
        }
      }

      .article {
        font-size: 16px;
        color: #c4c4c4;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: left;
        font-weight: 300;
        margin-top: 30px;
        @media screen and (max-width: 600px) {
          margin-top: 5px;
          font-size: 13px;
        }
      }

    }

    &-price {
      @media screen and (min-width: 992px) {
        width: 20%;
      }
      @media screen and (max-width: 991px) {
        text-align: left;
      }
      text-align: center;
      font-size: 24px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
    }

    &-remove {
      text-align: center;
      @media screen and (min-width: 992px) {
        width: 10%;
      }
      @media screen and (max-width: 991px) {
        text-align: center;
      }
      button {
        border: 0;
        background: none;

        img {
          width: 45px;
          height: 45px;
          @media screen and (max-width: 991px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &-qyantity {
      text-align: center;
      @media screen and (max-width: 991px) {
        text-align: left;
      }
    }

  }

  &-total {
    margin-top: 45px;
    margin-bottom: 90px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media screen and (max-width: 991px) {
      //flex-direction: column;
      flex-wrap: nowrap;
    }

    @media screen and (max-width: 600px) {
      font-size: 13px;
    }

    .div {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 10px;
      }

    }

    &__btn {
      align-self: flex-end;
      text-align: right;
      float: none;
      @media screen and (max-width: 991px) {
        margin-top: 30px;
        text-align: left !important;
        width: 100%;
      }

      .btn {
        min-width: 258px;
        padding-top: 17px;
        padding-bottom: 17px;

        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.2;

        @media screen and (max-width: 991px) {
          min-width: initial;
          width: 100%;
        }
      }
    }

    &-end {
      font-weight: 700;
    }
  }

  /* Quantity */

  .quantity {
    display: inline-block;
    margin: 4px 0;
    div,
    input {
      display: inline-block;
    }
    input {
      border: 0;
      width: 50px;
      border-radius: 4px;
      text-align: center;
      padding: 0 5px;
      box-shadow: none;
      font-size: 24px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
    input:focus {
      outline: 0;
    }
    .quantity-button {
      cursor: pointer;
      margin: 0 4px;
      i {
        color: #000;
        font-size: 18px;
      }
    }
  }

  &__item {
    &-mobile {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

}

.back-to-shop {
  line-height: 2;
  font-size: 14px;
  color: rgb(114, 114, 114);
  font-weight: 300;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    text-align: right;
  }
}