.cartItemList{
  background: transparent;
  border: 0;
  padding-left: 25px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.cart-list, .cloned-cart-list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 25px;
  top: 75px;
  z-index: 1000;
  background: #fff;
  transition: all 0.5s ease;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
  width: 305px;
  @media screen and (max-width: 768px){
    width: 100%;
    max-width: 305px;
    right: 7px;
  }
  .sub-title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 25px 25px 8px;
    text-transform: uppercase;
  }
  .cart-items-list {
    padding: 15px;
    width: 100%;
    float: left;
    .cart-item-line {
      margin: 8px 0;
      display: block;
      position: relative;
      &__image {
        width: 60px;
        height: 60px;
        float: left;
        background-position: center;
        background-size: cover;
      }
      &__description {
        width: calc(100% - 60px);
        padding-left: 15px;
        position: relative;
        float: left;
      }

      &__name {
        width: calc(100% - 50px);
        margin: 0;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        padding-bottom: 5px;
      }
      &__price {
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
        text-align: right;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
      &__properties {
        ul {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            width: 50%;
            display: inline-block;
            float: left;
            margin: 0 0 5px 0;
            color: #c4c4c4;
            font-size: 12px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
          }
        }
      }

      a{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left:  0;
        z-index:1;
        width: 100%;
        height: inherit;
      }
    }
  }
  .cart-buttons-line {
    width: 100%;
    float: left;
    &__button {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 50px;
      text-align: center;
      float: left;
      color: #fff;
      display: block;
      transition: all 0.3s ease 0s;
      &.cart-buttons-line__smaller {
        width: 40%;
        background: #727272;
        border: 1px solid #727272;
        &:hover {
          text-decoration: none;
          background: #000;
          border: 1px solid #000;
          color: #fff;
        }
      }
      &.cart-buttons-line__bigger {
        width: 60%;
        background: #000;
        border: 1px solid #000;

        &:hover {
          text-decoration: none;
          background: #fff;
          border: 1px solid #000;
          color: #000000;
        }

      }

    }

  }


  &-empty{
    .sub-title{
      padding: 25px 25px 25px;
    }
  }


  &.active{
    display: block;
    opacity: 1;
    visibility: visible;
  }

}