/* Checkout */

.checkout {

  input.form-control {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    height: 50px;
  }

  &__shipping {
    padding-bottom: 100px;

    &-fields {

      @media screen and (min-width: 1500px) {
        padding-left: 100px;
      }

      label.control-label {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        color: rgb(0, 0, 0);
        text-align: left;
        font-weight: 300;
        padding-top: 0;
        @media screen and (min-width: 992px) {
          padding-left: 30px;
          line-height: 50px;
        }
      }

      .col-sm-2 {

      }

      .col-sm-9, .col-sm-8, .col-sm-12 {
        @media screen and (min-width: 1200px) {
          padding: 0 30px 0 0;
        }
      }

      &.confirm-valid {
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: -5px;
          right: 0;
          bottom: -5px;
          left: 0;
          background: #fff;
          opacity: 0.4;
          z-index: 999;
        }
      }

    }

    .gray-bg {
      background: #727272;
      line-height: 30px;
    }

  }

  .checkout-btn-wrap {

    @media screen and (min-width: 1200px) {
      padding: 0 30px 0 0;
    }
  }

  .checkout-btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    max-width: 250px;

    @media screen and (min-width: 1400px) {
      min-width: 250px;
    }
  }

  &__total {
    color: #fff;
    @media screen and (min-width: 992px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 991px) {
      margin-top: 25px;
    }

    &-all {
      padding-top: 8px;
    }

    &-shipping {
      padding-bottom: 8px;
    }

    &-last {
      background: #000;
      line-height: 40px;
    }

    .col-xs-6 {
      padding: 0 15px;
    }

  }

  &__back {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: right;

    a {
      font-size: 14px;
      color: rgb(114, 114, 114);
      line-height: 1.2;
      font-weight: 300;
    }

    @media screen and (min-width: 992px) {
      text-align: left;
      padding: 0 15px;
      margin-top: 45px;
      margin-bottom: 0;
    }
  }

  .checkoutAlert {
    font-size: 12px;
    margin: 5px 0;

    & .error {
      color: #a94442;
      border-color: #a94442;
      -webkit-box-shadow: 0 0 2px 1px rgba(148, 35, 35, 0.24);
      box-shadow: 0 0 2px 1px rgba(148, 35, 35, 0.24);
    }

    & .success {
      color: #3c763d;
    }

  }

}

.form-gr {
  margin-bottom: 15px;
}

/* Payment */

$background: #000;
$select-color: #000;
$select-background: #fff;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: 200px;
  height: 50px;

  &:first-child {
    margin-right: 15px;
  }
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 0;
  padding-left: 15px;
  line-height: 47px;

  font-size: 14px;
  color: rgb(114, 114, 114);
  font-weight: 400;

  &:before {
    content: "";
    width: 20px;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: -1;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 21px;
    right: 4px;
  }

  &:hover {
    background-color: darken($select-background, 2);
  }

  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 15px;
      border-color: transparent transparent #fff transparent;
    }
  }

}

.select-options {
  display: none;
  position: absolute;
  top: 101%;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #000;
  max-height: 249px;
  overflow-y: scroll;

  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);

    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }

}

.billing-details {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  padding: 4px 0 0 30px !important;
  @media screen and (min-width: 992px) {
    padding: 4px 0 0 30px !important;
    margin: 0 0 0 30px;
  }

  &.cheched {
    .control__indicator {
      background: #fff;
      border: 1px solid #000;

      &:after {
        display: block;
      }

    }
  }

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .control__indicator {
      background: #fff;
      border: 1px solid #000;
    }

    &:checked ~ .control__indicator:after {
      display: block;
    }

  }

  .control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid #000;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
      background: #000;
    }
  }

}

.card-details {
  position: relative;
  cursor: pointer;
  padding: 0 !important;
  margin: 0;
  z-index: 0;
  height: 50px;

  &.visa {
    background-image: url(../../img/icons/visa-logo_nl.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    width: 100px;
  }

  &.masterCard {
    background-image: url(../../img/icons/MC_1600x900.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    width: 100px;
  }

  &.checked {
    .control__indicator {
      border: 1px solid #000;
      &:after {
        display: block;
      }
    }
  }

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .control__indicator {
      border: 1px solid #000;
    }

    &:checked ~ .control__indicator:after {
      display: block;
    }

  }

  .control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 1px solid transparent;
    background: transparent;
    z-index: -1;
    padding: 10px !important;
    height: 40px;
  }
}

.checkout .has-error input.form-control {
  border-color: #a94442;
  box-shadow: 0 0 2px 1px rgba(148, 35, 35, 0.24)
}

.checkout .has-success input.form-control {
  border-color: #3c763d;
  box-shadow: 0 0 2px 1px rgba(39, 121, 57, 0.57);
}

.checkout-steps {
  margin-bottom: 15px;
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    li {
      padding: 0 25px;
    }
  }
}

.productAdded {
  display: block;
  min-width: 300px;
  height: 90px;
  line-height: 90px;
  font-size: 18px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  visibility: hidden;
  z-index: -10;
  transition: all 2.5s ease;

  &.open {
    z-index: 999;
    visibility: visible;
    transition: all 2.5s ease;
  }
}

.scaleImageOnMobile {
  display: none;
  z-index: 0;
  visibility: hidden;

  &.showen {

    &.open {
      display: block;
      z-index: 9999;
      visibility: visible;
    }

  }

  &-overlay {
    position: fixed;
    opacity: 0.7;
    background-color: #000000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
  }

  &-close {
    width: 35px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: 0;
    box-shadow: none;
    line-height: 30px;
    text-align: center;
  }

  &-modal {
    display: block;
    min-width: 215px;
    line-height: 1.5;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50.55%, -50%) scale(1, 1);
    background: #fff;
    border: 1px solid #000;
    text-align: center;
    z-index: 9999;
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease;
    padding: 50px 20px 15px 20px;
    filter: blur(0);
    border-radius: 15px;
  }
}