/* contacts page */

.contacts {
  position: relative;
  z-index: 1;
  padding-top: 152px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-image: url('../../img/contacts/bg.jpg');

  &-data {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      min-height: 700px;
    }

    @media screen and (max-width: 767px) {
      min-height: 900px;
    }
  }

  @media screen and (max-width: 767px) {
    background-position: center;
    background-size: cover;
    background-image: url('../../img/contacts/bg-mobile.jpg');
  }

  h1 {
    font-size: 26px;
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 0 33px 0;
    text-transform: uppercase;
    color: #fff;
  }

  .back-btn {
    color: #fff;

    &:hover {
      text-decoration: none;
      opacity: 0.85;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6%);
  }

  .site-header-menu {
    li {
      padding: 0 60px;
      @media screen and (max-width: 767px) {
        padding: 0;
      }
      a {
        color: #fff;
        transition: all 0s ease;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      &.active {
        a {
          font-weight: 600;
        }
      }
    }
  }

  & .tab-content {
    padding: 33px 100px 100px 100px;

    @media screen and (max-width: 767px) {
      padding: 40px 0 100px 0;
    }
  }

  & .content {

    h2 {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      line-height: 1;
      margin: 0 0 24px 0;
      color: #fff;
      letter-spacing: 0.7px;
      font-weight: 400;
    }

    &-contacts-top {

    }

    &-contacts-bottom {
      margin-top: 50px;

    }

    &-stocklist {

      ul {
        padding: 0 0;
        @media screen and (max-width: 767px) {
          padding: 0;
        }

        & li {
          font-size: 24px;
          font-family: "Open Sans", sans-serif;
          line-height: 1;
          display: block;
          margin-bottom: 15px;
          font-weight: 300;
          letter-spacing: 1px;
          position: relative;
          transition: all 0.5s ease;
          cursor: pointer;

          &:hover{
            cursor: pointer;
            opacity: 0.90;
            color: #e4e0e0;
          }

          @media screen and (min-width: 768px) {
            width: 50%;
            float: left;
            text-align: right;
            padding: 0 70px;

            &:nth-child(even) {
              text-align: left;
              padding: 0 55px;

              .pop-wrap {
                background-color: rgba(0, 0, 0, 0.902);
                max-width: 205px;
                left: 55px;
                top: 27px;
              }

            }

          }
        }
      }

      .pop-wrap {
        background-color: rgba(0, 0, 0, 0.902);
        width: 205px;
        left: auto;
        right: 70px;
        top: 27px;
        padding: 18px 20px;

        @media screen and (max-width: 767px){
          right: 50%;
          margin-right: -102px;
        }

        & .stocklist__list {

        }

        & .stocklist__list-item {
          padding-bottom: 8px;

          &:nth-child(n+2){
            padding-top: 10px;
            border-top: solid 1px rgb(67, 67, 67);
          }

          &:last-child{
            padding-bottom:0;
          }

          h3 {
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            text-align: left;
            margin: 0 0 9px 0;
            font-weight: 300;
          }

          .address {

          }

          .site {
            a {
              color: #fff
            }
          }

        }

      }

    }

  }

  & .left {
    text-align: right;
    padding: 0 65px 0 0;
  }

  & .right {
    text-align: left;
    padding: 0 0 0 60px;
  }

  @media screen and (max-width: 767px) {
    & .left,
    & .right {
      text-align: left;
      padding: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    @media screen and (max-width: 767px) {

      &.site-header-menu {
        margin-top: 50px;
      }

    }

    & li {
      margin-bottom: 20px;
      font-weight: 300;
      line-height: 1;
    }
  }
}
