.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.list-inline {
  & li {
    display: inline-block;
  }
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.site-header {
  margin: 84px 0 38px 0;
  & h1 {
    font-size: 26px;
    color: rgb(0, 0, 0);
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 0 33px 0;
  }

  &-menu {
    margin: 0 0 0 35px;
    padding: 0;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin: 35px 0 0 0;
      text-align: left;
    }

    & li {
      padding: 0 75px;

      @media screen and (max-width: 992px) {
        padding: 0 25px;
      }

      @media screen and (max-width: 767px) {
        padding: 0;
        display: block;
        margin: 10px 0;
      }

      &.active {
        & a {
          font-weight: 700;
        }
      }
      & a {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        text-transform: uppercase;
      }
    }
  }
}

.store-header {
  h1 {
    margin: 0;
  }
}

.back-btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.3;
  transition: all 0.34s ease;

  @media screen and (min-width: 768px) {
    position: absolute;
    left: 0;
  }

  & img {
    padding-right: 19px;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.9;
    color: #333333;
  }
}

@media screen and (min-width: 992px) and (min-height: 815px) {
  .section-fullScreen {
    height: 100%;
    height: 100vh;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) and (max-height: 814px) {
  .section-fullScreen {
    height: 100%;
    min-height: 820px;
    &.home {
      /*min-height: 100%;*/
    }
  }
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;

  @media screen and (max-width: 767px) {
    margin: 25px 0;
  }

  li {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
    a {
      color: #000000;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      display: block;
      text-decoration: none;
      transition: all 0s ease;
    }

    &.active {
      & a {
        font-weight: 700;
      }
    }

  }

}

.static {
  position: static;
}

.btn-primary {
  &:hover, &:focus, &:active {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
  }
}

.customer {
  padding-bottom: 80px;

  @media screen and (max-width: 767px) {
    .sidebar-menu {
      border-bottom: 1px solid #ccc;
    }
  }
}

.header-page-inner {
  margin-bottom: 25px;
  .showRegion {
    display: none;
  }
}