@font-face {
    font-family: "Effra Reg";
    src: url("../../fonts/EFFRA-REG.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA HEAVY";
    src: url("../../fonts/EFFRA-HEAVY.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA LIGHT";
    src: url("../../fonts/EFFRA-LIGHT.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA MEDIUM";
    src: url("../../fonts/EFFRA-MEDIUM.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA ITALIC";
    src: url("../../fonts/EFFRA-ITALIC.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA HEAVY ITALIC";
    src: url("../../fonts/EFFRA-HEAVY-ITALIC.TTF") format("truetype");
}

@font-face {
    font-family: "EFFRA LIGHT ITALIC";
    src: url("../../fonts/EFFRA-LIGHT-ITALIC.TTF") format("truetype");
}
@font-face {
    font-family: "EFFRA MEDIUM ITALIC";
    src: url("../../fonts/EFFRA-LIGHT-ITALIC.TTF") format("truetype");
}


@font-face {
    font-family: "EFFRA BOLD";
    src: url("../../fonts/EFFRA-BOLD.TTF") format("truetype");
}



