.footer{
  background-color: $pr_color;
  color: $white;
  text-align: center;
  padding: 56px 0 60px;

  @media screen and (min-width: 992px){
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9;
  }

  @media screen and (max-width: 992px){
    padding: 25px 0 25px 0;
  }



  & .container-fluid{
    position: relative;
  }

  ul{
    @extend .ul;

    & li {
        a {
          color: $white;
          padding:0 16px;
          text-decoration: none;
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          font-weight: 300;
        }

      @media screen and (max-width: 767px){
        display: block;
        line-height: 1.5;
      }
    }
  }

  &_nav{
    &-bottom{
      margin-top: 55px;
      @media screen and (max-width: 992px){
        margin-top: 25px;
      }
      & ul{
        & li {
          @media screen and (max-width: 767px){
            display: block;
            line-height: 1.5;
          }
          @media screen and (max-width: 992px){
            font-size: 13px;
          }
          & a{
            padding:0 16px;
            line-height: 1.2;
            font-weight: 300;
            text-transform: none;
            font-size: 14px;
            color: rgb(114, 114, 114);

            @media screen and (max-width: 992px){
              font-size: 13px;
            }

          }
        }
      }
    }
  }

  .payment{
    position: absolute;
    left:20px;
    top:0;
    margin-top: 0;
    margin-bottom: 35px;
    @media screen and (max-width: 992px){
      margin-top: 20px;
    }
    
    @media screen and (max-width: 991px){
      position: relative;
      left:auto;
      top:auto;
    }

    & i {
      font-size: 36px;
    }
  }
}