/* Collection */

.collection {

  margin-bottom: -1px;

  &-flex {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &.reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
  }

  /* TPL 1*/
  &-tpl1 {
    &-item {
      background-repeat: no-repeat;
      overflow: hidden;
      padding-top: 70%;
      position: relative;

      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }
    }
  }

  /* TPL 2*/
  &-tpl2 {
    &-item {
      background-repeat: no-repeat;
      overflow: hidden;
      padding-top: 70%;
      position: relative;
      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }
    }

    .collection-tpl1-item {
      background-repeat: no-repeat;
      overflow: hidden;
      padding-top: 70%;
      position: relative;
      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }
    }
  }

  /* TPL 3*/
  &-tpl3 {
    &-item {
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      padding-top: 50%;
      position: relative;

      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }

      img{
        max-width: 100%;
      }
    }

  }

  /* TPL 4 */
  &-tpl4 {
    &-item {
      background-size: cover;
      background-repeat: no-repeat;

      overflow: hidden;
      padding-top: 70%;
      position: relative;
      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }
    }

    &-left {
      & .collection-tpl3-item {
        padding-top: 100%;
      }
    }
  }

  & a.item-gallery {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-size:  cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    transform: translate3d(0, 0, 0) scale(1.0005);

    transition: transform 0.5s ease;

    //&:hover {
    //  transform: translate3d(-2px, -2px, -2px) scale(1.05);
    //}

    @media screen and (max-width: 767px) {
      background-position: center top;
      position: relative;
    }
  }

  &[data-parallax="true"]{
    & a.item-gallery {
      background-size:  100% auto;
      background-position-x: left;
      background-repeat: no-repeat;
    }
  }


  &-tpl5 {
    &-item {
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      position: relative;
      @media screen and (max-width: 767px) {
        padding-top: initial!important;
      }

      a.item-gallery {

        & img{
          display: block;
          width: 100%;
        }
      }

    }

  }


  /* TPL 4 */
  &-tpl6 {
    &-item {
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      padding-top: 43%;
      position: relative;

      & a.item-gallery{
        position: absolute;
      }
    }

  }


}

.mfp-move-from-top .mfp-figure {

}

.mfp-move-from-top.mfp-image-loaded .mfp-figure {

}

.mfp-move-from-top {

  &.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: rgba(0, 0, 0, 0.6%);
    opacity: 1;
  }

  & img.mfp-img {
    width: auto;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

  }

  & .mfp-close,
  & .mfp-arrow,
  & .mfp-preloader,
  & .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  & button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  & button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    background: 0 0;
    border: none;
    outline: 0;
  }

  & .button.mfp-close:hover, button.mfp-close:active, button.mfp-close:focus {
    outline: 0;
  }

  & button.mfp-arrow {
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    color: #000;
    opacity: 0;
    width: 50%;
    height: 100%;
    border: 0;
    margin-left: -1px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in 0s;
    transition: all 0.4s ease-in 0s;

  }

  & button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  & button.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;

    @media screen and (min-width: 768px){
      display: none;
    }
  }

  & button.mfp-close:hover,
  & button.mfp-close:focus {
    opacity: 1;
  }

  & .mfp-image-holder .mfp-close,
  & .mfp-iframe-holder .mfp-close {
    /*right: -6px;
    padding-right: 6px;
    color: #000;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);*/
  }

  & button.mfp-close:before {
    top: 16px;
    -webkit-transform: translateY(3px) rotate(135deg);
    -ms-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
    transition: -webkit-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  }

  & button.mfp-close:after {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    top: auto;
    bottom: 20px;
    -webkit-transform: translateY(-3px) rotate(45deg);
    -ms-transform: translateY(-2px) rotate(45deg);
    transform: translateY(-2px) rotate(45deg);
  }

  & button.mfp-close:after {
    content: "";
    left: 12px;
    width: 32px;
    height: 2px;
    background: #fff;
    position: absolute;
    outline: 0;
  }

  & button.mfp-close:before {
    content: "";
    left: 12px;
    width: 32px;
    height: 2px;
    background: #fff;
    position: absolute;
    outline: 0;
  }

  & .mfp-arrow {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }



  & .mfp-arrow-left {
    left: 0;
  }

  & .mfp-arrow-left:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: all 0.6s ease-in 0s;
    transition: all 0.6s ease-in 0s;
    color: #000;
    z-index: 10;
    font-size: 30px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjM1MiwxMTUuNCAzMzEuMyw5NiAxNjAsMjU2IDMzMS4zLDQxNiAzNTIsMzk2LjcgMjAxLjUsMjU2ICIvPg0KPC9zdmc+DQo=');
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 40px;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  & .mfp-arrow-left {
    &:hover{
      opacity: 1;
    }
  }

  & .mfp-arrow-left:hover:after {
    width: 100%;
    right: 0;
  }

  & .mfp-arrow-left:hover:before {
    color: #fff;
  }

  & .mfp-arrow-right {
    right: 0;
  }

  & .mfp-arrow-right:after {
  }

  & .mfp-arrow-right:before {
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: all 0.6s ease-in 0s;
    transition: all 0.6s ease-in 0s;
    color: #000;
    z-index: 10;
    font-size: 30px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjZmZmIiBwb2ludHM9IjE2MCwxMTUuNCAxODAuNyw5NiAzNTIsMjU2IDE4MC43LDQxNiAxNjAsMzk2LjcgMzEwLjUsMjU2ICIvPg0KPC9zdmc+DQo=");
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 40px;
    transform: translate(-50%, -50%);
  }

  & .mfp-arrow-right {
    &:hover{
      opacity: 1;
    }
  }

  & .mfp-arrow-right:hover:after {
    width: 100%;
    left: 0px;
  }

  & .mfp-arrow-right:hover:before {
    color: #fff;
  }

}

