@media screen and (min-width: 992px){
  body{
    padding-bottom: 204px;

    &.fullscreen{
      overflow: hidden;
    }
  }

  main.page{
    position: relative;
    z-index: 12;
    background: #fff;
    transition: background 0.5s;
  }

}

@media screen and (max-width: 991px){
  body.fullscreen-mobile {
    overflow: hidden;
  }
}




/* Home header */


@font-face {
  font-family: 'AgencyFB';
  src: url('../../fonts/AgencyFB.ttf');
  src: ('../../fonts/AgencyFB.ttf')  format('truetype');
}

.header {
  position: relative;
  width: 100%;
}

header {
  position: absolute;
  width: 100%;

  &.home{
    z-index: 999;
  }

  .nav_header {
    ul {
      & li {
        transition: all 0.5s ease;
        & a {
          color: $white;
          text-decoration: none;
          transition: all 0.5s ease;
        }
        &.active {
          a {
            position: relative;
            z-index: 999;
          }
        }


      }

    }
    &-left {
      float: left;
      li {
        color: $white;
      }
      & .site-search {
        & .input-wrap-border {
          background: $white;
        }
        ::-webkit-input-placeholder {
          color: $white;
          letter-spacing: 0.5px;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          line-height: 1.2;
        }
      }

    }

    &-right {
      li {
        color: $white;
        transition: all 0.5s ease;
        a {
          color: $white;
          transition: all 0.5s ease;
          position: relative;
          &:hover{
            opacity:0.90;
            color: #e4e0e0;
          }
        }
      }
    }
    ul.dropdown > li {
      transition: all 0.5s ease;
      a {
        color: $white;
        transition: all 0.5s ease;
      }
    }
  }

}

.header-home, .header-page-contacts {

  .nav_header {
    ul {
      & li {
        transition: all 0.5s ease;
        & a {
          color: $white;
          transition: all 0.5s ease;
        }
      }

    }
    &-left {
      float: left;
      li {
        color: $white;
        transition: all 0.5s ease;
        a{
          transition: all 0.5s ease;
        }
      }
      & .site-search {
        & .input-wrap-border {
          background: $white;
        }
        ::-webkit-input-placeholder {
          color: $white;
        }
      }

    }

    &-right {
      li {
        color: $white;
        a {
          color: $white;
          &:hover{
            opacity:0.90;
            color: #e4e0e0;
          }
        }
      }
    }
    ul.dropdown > li {
      a {
        color: $white;
      }
    }
  }

}

.header-page {
  .nav_header {
    ul {
      & li {
        & a {
          color: $pr_color;
        }
      }

    }
    &-left {
      li {
        color: $pr_color;
      }
      & .site-search {
        & .input-wrap-border {
          background: $pr_color;
        }
        ::-webkit-input-placeholder {
          color: $pr_color;
        }
      }

    }

    &-right {
      li {
        color: $pr_color;
        a {
          color: $pr_color;
          &:hover{
            opacity:0.90;
            color: #3c3b3b;
          }
        }
      }
    }
    ul.dropdown > li {
      a {
        color: #fff;
      }
    }
  }

  &.hoverable-menu {
    background: rgba(255, 255, 255, 1);
  }

  .cartItemList{
    color: #000;
  }
}


.header-page-contacts {
  position: absolute;
  z-index: 999;
  .menu-toggle-inner{
    .bar{
      background: #fff;

      &:after, &:before{
        background: #fff;
      }
    }
  }

  .menutoggle.mobileInnerPage {
    .bar {
      background: #fff;
      &:after, &:before{
        background: #fff;
      }
    }
  }

}

.nav_header {
  text-align: center;
  margin-top: 30px;

  ul {
    @extend .ul;

    & li {
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.2;
      font-weight: 300;
      transition: all 0.5s ease;
      & a {
        padding: 0 16px;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: 300;
        transition: all 0.5s ease;
      }

      &:nth-child(2){
        ul.dropdown {
          min-width: 180px;
        }
      }
    }

  }

  &-left {
    @extend .ul;
    margin-top: 32px;
    text-align: left;
    li {
      display: inline-block;
      text-align: left;
      padding-right: 25px;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      letter-spacing: 0.5px;
      font-weight: 300;
    }
  }

  &-right {
    @extend .ul;
    margin-top: 32px;
    text-align: right;
    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
    li {
      display: inline-block;
      text-align: right;
      font-weight: 300;
      line-height: 1.2;
      font-size: 12px;
      a {
        padding-left: 25px;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        letter-spacing: 0.5px;
        &:hover{
          text-decoration: none;
        }
      }

    }
  }

  ul.dropdown {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 24px 32px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding-bottom: 20px;
    min-width: 150px;
    top: 25px;
    text-align: left;
    left: 5px;
  }

  ul.dropdown > li {
    clear: both;
    width: 100%;
    border: 0;
    position: relative;
    display: block;
    margin-top: 25px;
    padding: 0 16px;



    &:hover{
      a{
        padding-left: 10px;
      }
    }


    & a {
      text-decoration: none;
      text-transform: none;
      padding: 0;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;

      &:hover {
        opacity: 0.95;
      }
    }
  }

}

.site-info {
  text-align: center;
}

.ko-logo {

  & img {
    margin-top: 25px;
    max-width: 255px;
  }

  .mobile-logo {
    margin-top: 20px;
    max-width: 40px;
  }
}

/* Component SITE SEARCH */

.site-search {
  & .input-wrap {
    display: inline-block;
    /*max-width: 100px;    */
  }
  & .input-wrap-border {
    position: relative;
    width: 0;
    transition: all 0.5s ease;
    height: 1px;
    /*max-width: 100px;*/

  }

  input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    cursor: pointer;

    &:focus {
      & + .input-wrap-border {
        width: 100%;
      }
    }
    &:valid{
      & + .input-wrap-border {
        width: 100%;
      }
    }
  }

  button {
    background: transparent;
    border: 0;
  }

  img {
    max-width: 10px;
  }

}

/* hoverable menu */

.hoverable-menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.85);
  top: 0;
  transition: top 0.5s ease;
  padding-bottom: 25px;
  z-index: 999;

  .cartItemList{
    color: #000;
  }

  .ko-logo {
    img {
      margin-top: 27px;
      max-width: 150px;
    }
  }

  .menu-toggle-inner {
    margin-top: 24px;
  }

  .nav_header-left, .nav_header-right {
    margin-top: 27px;
  }

  &-hidden {
    top: -150px;
    transition: top 0.8s ease;
  }
}

/* MOBILE MENU ASSETS */
.nav_header{

  .menu{
    padding-top: 15px;
  }

  .mobile-assets {

    .close-icon-wrap{
        img{
          transform: rotate(90deg);
          display: inline-block;
          margin-right: 15px;
        }
    }

    li{
      display: inline-block;
      float: left;
      width: 50%;
      a{
        text-transform: none;
        padding: 0;
        font-size: 12px;
        color: #fff;
      }

      &:nth-child(1){
        text-align: left;
        a{
          text-align: left;
          color: #fff;
        }
      }

      &:nth-child(2){
        text-align: right;

        a{
          text-align: right;
          color: #fff;
        }

      }

    }


    li:last-child{
      display: block;
      margin: 30px 0;
      text-align: left;
      width: 100%;

      button{
        position: absolute;
        left:0;
      }

      .site-search .input-wrap {
        max-width: none;
        width: 100%;
        padding-left: 25px;
      }

      .site-search .input-wrap-border{
        max-width: none;
      }

    }

    &:after{
      content: "";
      display: table;
      clear: both;
    }

    &:before{
      content: "";
      display: table;
      clear: both;
    }

  }
}


.pop {

  position: relative;

  &-wrap{
    position: absolute;
    top: 20px;
    left: -20px;
    min-width: 204px;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 0 1px 7px 0px rgba(0,0,0,0.25);
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    opacity: 0;
    z-index: -10;
    visibility: hidden;
    transition: opacity 0.4s ease;

    &.shoved{
      visibility: visible;
      opacity: 0.8;
      z-index: 10;
    }
  }


}