/* Home */
.home__hero {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  overflow: hidden;
  height: 100vh;
  z-index: 10;

  @media screen and (max-width: 767px) {
    height: 100vh !important;
  }

  .video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;

    .row {
      margin: 0;
    }

    video {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
    }
  }

  .header-inner {
    width: 100%;
    top: 50%;
    z-index: 12;
    margin-top: -86px;
    position: absolute;
    text-align: center;
  }

  h1.header-title {
    font-size: 38px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.5px;

    @media screen and (max-width: 767px) {
      font-size: 32px;
      font-weight: 400;
      line-height: 1.5;
    }

    a {
      color: rgb(255, 255, 255);
      text-align: center;
      transition: all 0.5s ease;
      text-decoration: none;

      &:hover {
        opacity: 0.90;
        color: #e4e0e0;
      }
    }
  }

  .header-bottom-line {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
  }

  .header-bottom-line .icon_arrow {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: $white;
    text-decoration: none;
    top: 0;

    & a {
      color: $white;
      text-decoration: none;
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      &:hover {
        color: $white;
        text-decoration: none;
        opacity: 0.85;
      }
    }

    & span {
      display: block;
      color: $white;
      margin-bottom: 15px;
      text-decoration: none;
    }

    &:hover {
      color: $white;
      text-decoration: none;
    }

    img {
      opacity: 0;
      transition: 0.8s;
      animation: arrow_move 1.5s infinite;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 30px;
    }
  }

}

@keyframes arrow_move {
  0% {
    bottom: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    bottom: -20px;
  }
}

@keyframes arrow_move_top {
  0% {
    bottom: -8px;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    bottom: -28px;
  }
}

@keyframes arrow_move_left {
  0% {
    right: -15px;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    right: -30px;
  }
}

.section {
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 10;

  @media screen and (min-width: 992px) {
    height: 100vh;
  }
}

/* section-fall */
.section-fall {
  position: relative;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    padding-top: 100%;
    min-height: 650px;

  }

  .section-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0) scale(1.01);
    transform: translate3d(0, 0, 0) scale(1.01);
    @media screen and (max-width: 767px) {
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &:hover {
    & .section-bg {
      transform: translate3d(-2px, -2px, -2px) scale(1.05);
    }
  }

  & .section-data {
    position: absolute;
    left: 80px;
    text-align: left;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and (max-width: 767px) {
      top: 50%;
      transform: translate(0, -50%);
      left: 20px;
      margin-top: 0;
    }
  }

  & .section-title {
    font-size: 38px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  & .section-sub-title {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin: 32px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding-right: 20px;
    max-width: 700px;
  }
  & .section-btn {
    a {
      line-height: 22px;
      text-decoration: none;
      font-weight: 300;
      color: #000000;
      font-size: 16px;
      position: relative;

      img {
        padding-left: 15px;
        transition: 0.8s;
        top: 50%;
        transform: translate(0, -50%);
        opacity: 0;
        position: absolute;
        animation: arrow_move_left 1.5s infinite;
      }

    }
  }

  & a.cats-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

}

/*section-category*/

.section-category {
  &-item {
    overflow: hidden;

    @media screen and (max-width: 991px) {
      padding-top: 100%;
      min-height: 650px;
    }

    .section-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      height: 100%;
      width: 100%;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      overflow: hidden;
      cursor: pointer;
      -webkit-transform: translate3d(0, 0, 0) scale(1.01);
      transform: translate3d(0, 0, 0) scale(1.01);

      @media screen and (max-width: 991px) {
        background-position: center;
        background-repeat: no-repeat;
      }

    }

    &:hover {
      & .section-bg {
        transform: translate3d(-2px, -2px, -2px) scale(1.05);
      }
    }

    & a.cats-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }

  }

  &-title {
    position: absolute;
    top: 50%;
    left: 80px;
    text-align: left;
    font-size: 38px;
    color: #000;
    line-height: 1.2;
    font-weight: 600;
    transform: translate(0, -50%);
    z-index: 2;

    @media screen and (max-width: 991px) {
      left: 20px;
    }

  }

  &-sub-title {
    font-size: 24px;
    color: #000;
    line-height: 1.2;
    text-align: left;
    margin: 20px 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  & .header-bottom-line .icon_arrow {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: $pr_color;
    text-decoration: none;
    z-index: 2;

    & a {
      color: $pr_color;
      text-decoration: none;
      position: relative;
      &:hover {
        color: $pr_color;
        text-decoration: none;
        opacity: 0.7;
      }
    }

    & span {
      display: block;
      color: $pr_color;
      margin-bottom: 8px;
      text-decoration: none;
      transform: scale(1.0);
    }

    &:hover {
      color: $pr_color;
      text-decoration: none;
    }

    & img {
      transform: rotate(-90deg);
      opacity: 0;
      transition: 0.8s;
      position: absolute;
      animation: arrow_move_top 1.5s infinite;
    }
  }

  @media screen and (max-width: 991px) {

    .flex-row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

}
