.instagram-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media screen {

  }
}

.instagram-media{
  background: #fff;
  border: 1px solid #dbdbdb;
  margin: 5px 5px 12px;
  //max-width: 580px;
  width: -webkit-calc(33.33333333% - 10px);
  width: calc(33.33333333% - 10px);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0;

  @media screen and (min-width: 992px) and (max-width: 1200px){
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px)
  }

  @media screen and (max-width: 992px){
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px)
  }

}

.Embed {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0 solid #000;
  div, footer, header, main, nav, section {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .EmbedHeader {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 12px;
    .ehAvatarLink {
      display: block;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      height: 40px;
      margin-right: 12px;
      width: 40px;
    }
    .ehAvatar {
      border: 1px solid #dbdbdb;
      -webkit-border-radius: 19px;
      border-radius: 19px;
      height: 38px;
      width: 38px;
    }
    .ehNextToAvatar {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 0;
      overflow: hidden;
      padding-right: 12px;
    }
  }
  .ehLocationLink, .ehSponsorLine {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (max-width: 992px){
      font-size: 14px;
      line-height: 18px;
    }

  }
  .ehUsername {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 100%;
    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }

  }
  .embedSpriteLikes, .embedSpriteLikesNew, .embedSpriteVerifiedBadgeSmall, .embedSpriteViewCount, .embedSpriteViewCountNew {
    background-image: url(../../img/9d26e11367f1.png);
    background-repeat: no-repeat;
    background-position: 0 -100px;
    height: 16px;
    width: 16px;
  }
  .embedSpriteVerifiedBadgeSmall, .embedSpriteViewCount, .embedSpriteViewCountNew {
    background-position: -36px -100px;
    height: 12px;
    width: 12px;
  }
  .embedSpriteGlyph {
    background-image: url(../../img/9d26e11367f1.png);
    background-repeat: no-repeat;
  }

  &.ehVerifiedBadge {
    display: inline-block;
    margin-left: 6px;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
  }
  &.ehRight {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  &.ehCallToAction {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  ._ov47a {
    display: block;
    position: relative;
  }
  ._l7aem {
    color: #3897f0;
  }
  ._nwpvm {
    cursor: pointer;
  }
  ._qxzq2 {
    background: 0 0;
    border: none;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    overflow: visible;
    padding: 0;

    @media screen and (max-width: 768px){
      font-size: 14px;
    }

  }
  .efImageLink {
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .EmbedFrame {
    position: relative;
    padding-bottom: 100%;
  }
  .EmbedFooter {
    padding: 12px 56px 12px 12px;
  }
  .EmbedSocialProof {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 20px;
  }
  .espMetric {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 12px;
  }
  .embedSpriteLikes, .embedSpriteLikesNew, .embedSpriteVerifiedBadgeSmall, .embedSpriteViewCount, .embedSpriteViewCountNew {
    background-image: url(../../img/9d26e11367f1.png);
    background-repeat: no-repeat;
  }
  .embedSpriteLikesNew, .embedSpriteVerifiedBadgeSmall, .embedSpriteViewCount, .embedSpriteViewCountNew {
    background-position: -106px -72px;
    height: 20px;
    width: 20px;
  }
  .espMetricText {
    color: #262626;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }
  }
  .espMetricIcon {
    display: inline-block;
    margin-right: 8px;
  }
  .EmbedCaption {
    color: #262626;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 6px;

    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }
  }
  .EmbedTimestamp {
    color: #262626;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 6px;

    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }

    &:visited {
      color: #262626;
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 6px;

      @media screen and (max-width: 768px){
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .EmbedCaption {
    color: #262626;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 6px;
    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }
  }
  .EmbedTimestamp {
    color: #262626;
    display: block;
    font-weight: 400;
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    @media screen and (max-width: 768px){
      font-size: 13px;
      line-height: 16px;
    }
    &:visited {
      color: #262626;
      display: block;
      font-weight: 400;
      margin-top: 6px;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;

      @media screen and (max-width: 768px){
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .EmbedFooterLogoContainer {
    bottom: 12px;
    position: absolute;
    right: 12px;
  }
  .embedSpriteGlyph {
    background-position: -72px -27px;
    height: 32px;
    width: 32px;
  }
  .embedHideText {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
  }
}


/* PAGE */

.instagram-wrapper {
  min-height: 350px;
  position: relative;

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &[data-instagram-load="false"]{
    &:after{
      background-image: url(../../img/loading.gif);
    }
  }


  &[data-instagram-load="true"]{
    &:after{
      background-image: none;
    }
  }

}


.insta__loading-wrapper{
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 15px 0 105px 0;
}

.insta__list__loading{
  position: absolute;
  left: 10px;
  -webkit-animation: product-list-loading 0.7s steps(3) infinite;
  animation: product-list-loading 0.7s steps(3) infinite;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}