/* MENU */

body {
  & .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 10;
    opacity: 0.6;
    background-color: #000000;
  }
}

@media screen and (max-width: 767px) {
  .navbar .menutoggle {
    display: block;
  }
}

/* COMPONENT MENU TOGGLE */

.menutoggle {
  width: 25px;
  height: 25px;
  padding: 0;
  display: none;
  float: left;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  background: transparent;
  border: 0;
  box-shadow: transparent;

  .bar {
    position: relative;
    background: #fff;
    transition: all 0s .3s;
    display: block;
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      background: #fff;
    }
    width: 25px;
    height: 2px;

    &:after {
      width: 25px;
      height: 2px;
    }

    &:before {
      width: 25px;
      height: 2px;
      top: 10px;
    }

    &:after {
      top: 20px;
    }

  }


  &.mobileInnerPage {
    .bar {
      background: #000;
      &:after, &:before {
        background: #000;
      }
    }
  }
}

/* Menu .header MOBILE */

@media (max-width: 767px) {
  .menutoggle {
    display: block;
  }

  .header {

    ul.menu {
      width: 100%;
      position: fixed;
      right: 100%;
      height: 100%;
      top: 0;
      background-color: #000;
      color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 20000;
      transition: right 0.8s ease;
      padding: 15px 15px 0 15px;

      &.open {
        right: 0;
      }

      > li {
        width: 100%;
        display: block;
        position: relative;
        padding: 0;
        > a {
          color: #fff;
          display: inline-block;
          font-weight: 400;
          padding: 15px 0;
          position: relative;
        }

        &.active > a:after {
          opacity: 1;
          visibility: visible;
        }

        &.has-dropdown {
          a {
            width: 100%;
          }
        }

        ul.dropdown {
          width: 100%;
          position: static;
          box-shadow: none;
          padding: 0;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          > li {
            margin-top: 0;
            padding-bottom: 10px;

            a {
              padding: 2px;
              border: none !important;
              border-radius: 0 !important;
              color: #fff;
            }
          }
        }


        & .indicator {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 25px;
          height: 25px;
          z-index: 25;
          & .fa:after {
            content: "";
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgNiAxMiI+CiAgICA8cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgZD0iTTAgMGw1LjY5MiA1LjY5MkwuMTkgMTEuMTk1Ii8+Cjwvc3ZnPgo=);
            position: absolute;
            right: 5px;
            height: 15px;
            width: 15px;
            top: 50%;
            z-index: 25;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform: rotate(90deg) translate(-50%, 0);
          }
        }


      }



      /* SEARCH */

      & .site-search {
        & .input-wrap-border {
          background: $white;
        }
        ::-webkit-input-placeholder {
          color: $white;
          letter-spacing: 0.5px;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          line-height: 1.2;
        }
      }

    }
  }
}

/* PAGE INNER MENU TOGGLE COMPOENT */

.menu-toggle-inner {
  width: 25px;
  height: 25px;
  padding: 0;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;
  margin-top: 29px;
  margin-right: 25px;
  z-index: 10;
  transition: all 600ms ease;

  @media (max-width: 767px) {
    margin-top: 22px;
  }

  & .bar {
    background: #000;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 600ms ease;

    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      background: #000;
    }
    width: 100%;
    height: 2px;
    border-radius: 0;
    &:after {
      width: 100%;
      height: 2px;
      border-radius: 0;
    }
    &:before {
      width: 100%;
      height: 2px;
      border-radius: 0;
      bottom: 7px;
    }
    &:after {
      top: 7px;
    }
  }

  &.active {
    transform: rotate(90deg);
  }
}

.toggle {
  background: rgba(0, 0, 0, 0.6%);
  position: absolute;
  width: 100%;
  max-width: 390px;
  min-height: 500px;
  list-style: none;
  padding: 35px 20px;
  margin: 0;
  z-index: 1030;
  text-align: left;
  top: 29px;
  left: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease;


  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    background: rgba(0, 0, 0, 0.8%);
    max-width: 250px;
    left: 50px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: all 1.5s ease;
  }

  li {
    text-align: left;
    margin-top: 15px;

    @media (min-width: 768px) {
      width: 50%;
      float: left;
    }

    a {
      color: #fff;
      text-align: left;
      font-weight: 300;
    }

    &.has-sub {
      margin-bottom: 13px;
      min-width: 50%;
      flex: 1 2 auto;

      & > a {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
      }
      & ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          width: 100%;
          float: none;
        }
      }
    }
  }
}