/* SINGLE Store */

.site-header.toolbar {
  margin-top: 96px;

  .cats {
    margin-top: 0;
    @media screen and (max-width: 991px) {
      margin-top: 35px;
    }
  }
}

.product-item {
  position: relative;

  &__asset {
    box-sizing: border-box;
    width: 100%;
    z-index: 1;
  }

  &__detail {
    &-content {

      @media screen and (min-width: 1700px) {
        padding: 0 170px 0 65px;
      }

      @media screen and (min-width: 1400px) and (max-width: 1699px) {
        padding: 0 30px 0 45px;
      }

      @media screen and (max-width: 1399px) {
        padding: 0 0 0 0;
      }

      h1 {
        font-size: 26px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        margin: 0;
      }

    }

    &-price {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      margin: 0;
    }

    &-name {
      margin-bottom: 50px;
    }

  }

  &__core-information {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    font-weight: 300;
  }

  &__related {

    .products-grid.row {
      margin-top: 0;
      padding-top: 0;
    }

    h2 {
      font-size: 32px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      text-align: center;
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (min-width: 992px) {
  .product-item__asset.product-item__detail {
    padding: 20px 15px;
  }

  .product-item__asset {
    width: 100%;
  }

  .product-item {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 10;
    width:100%;

    &__gallery {
      position: relative;
      width: 100%;

      &-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

      &-item-image {
        overflow: hidden;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: url(../../img/zoom-in-1.png),auto;

        &.ZoomIn{
          cursor: url(../../img/zoom-out-1.png),auto;
        }
      }

      &-image {
        display: block;
        margin: 0 auto;
        width: 100%;
      }

    }

    &__detail {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &__related {

      h2 {
        position: absolute;
        top: 25px;
        width: 100%;
        z-index: 10;
      }

      &.no-product-img{
        position: relative!important;
        right: inherit;
        bottom: inherit;
      }
    }

  }

  .product-item__gallery-item-wrapper {
    width: 50%;
  }



  /* btns */

  .product-related {
    display: flex;
    background-color: transparent;
    width: 50%;
    overflow: hidden;
    position: relative;
  }

  .product-info-wrapper {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    top: 50%;
    min-height: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: auto;

    -webkit-box-flex: 0;
    -ms-flex: 0 100 auto;
    flex: 0 100 auto;
    -webkit-flex: 0 100 auto;
    //overflow: hidden;
  }


  .product-item__asset.product-related {
    padding: 0 0;
  }

}

/* varieble */

.product-variations {
  margin-top: 70px;
  margin-bottom: 25px;
}

.values {
  float: left;
  width: 90%;
}

.value-label {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-weight: 300;
  border: 0;
  width: auto;
  padding: 0;
  margin-right: 20px;

}

.product-item {

  &__detail {

    &-variations-container {
        label + label {
        margin-right: 10px;
      }

      &.currentswatch .swatch-hex {
        box-shadow: 0 0 0 1px black;
        border: 2.5px solid white;
        width: 16px;
        height: 16px;
      }

    }

    &-variation-item {
      display: inline-block;
      margin: 0 0 15px 3px;
      line-height: 10px;
      cursor: pointer;
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
      }

      span {
        display: inline-block;

      }

      .swatch-hex {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
    }

    .single_variation_wrap {
      margin-bottom: 30px;
    }

  }

  &__videos {
    margin-bottom: 30px;

    a {
      background: transparent;
      box-shadow: none;
      text-decoration: none;
      border: 0;
      font-size: 13px;
      font-weight: 600;
      padding: 0;
    }

  }
}

.product-attributes {
  margin-top: 50px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgb(114, 114, 114);
  line-height: 1.2;

  .articl {
    margin-bottom: 17px;
  }

  .return-info {
    font-size: 14px;
  }
}

.option_radio .size-label {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-weight: 300;
  border: 0;
  width: auto;
  padding: 0;
  margin-right: 32px;
}

.option_radio label {
  display: inline-block;
  height: 23px;
  min-width: 23px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  font-weight: 300 !important;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #000;
  padding: 0 2px;
}

.option_radio label.checked {
  background-color: #000000;
  color: #ffffff;
}

.option_radio label + label {
  margin: 2px 4.1px;
}

.option_radio label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Product Loading More */

.product-item__eos-notify {
  margin: 35px 0 0 20px;
}

.product-list__loading-wrapper {
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 15px 0 105px 0
}

.product-list__loading {
  position: absolute;
  left: 10px;
  -webkit-animation: product-list-loading 0.7s steps(3) infinite;
  animation: product-list-loading 0.7s steps(3) infinite;
  transform: rotate(90deg);
}

@media screen and (min-width: 992px) {
  .product-item__eos {
    font-family: Courier, monospace, monotype, serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    background: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
  }
}

.icon-arrow-right {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  vertical-align: baseline;
  font-size: 26px;
  line-height: 1.2em;
}

.icon-arrow-right:before {
  content: "\27F6";
}

@-webkit-keyframes product-list-loading {
  0% {
    top: 25px
  }
  100% {
    top: 100px
  }
}

@keyframes product-list-loading {
  0% {
    top: 25px
  }
  100% {
    top: 100px
  }
}

.opened-video {
  width: 100%;
  float: left;
  background: #111;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.8s ease 0s;
  transition: height 0.8s ease 0s;
  padding-top: 0;
  height: 0;
  z-index: 15;
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  &-video-wrap{
    @media screen and (min-width: 992px) {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      width: 100%;
      margin: 0 auto;
      max-width: 1170px;
    }


    & iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width:100%;
      z-index: 10;
      max-height: 800px;
      @media screen and (max-width: 768px) {
        max-height: 250px;
      }
    }

  }

  &.active {
    height: 100vh;
  }

  & .close {
    width: 25px;
    position: absolute;
    left: -webkit-calc(50% - 13px);
    left: calc(50% - 13px);
    top: 50px;
    cursor: pointer;
    z-index:99;

    svg {
      width: 25px;

      polygon {
        fill: #fff !important;
      }

    }

    &:hover svg polygon {
      fill: #e41c26 !important;
    }

  }



}


.single.store{
  margin-bottom: -2px;
  .products-grid.row {
    padding-bottom: 0;
  }
}