/* SINGLE Store Responsive*/

@media screen and (max-width: 991px){

  .products-grid.row{
    padding-bottom: 0;
  }

  .product-item{

    &__gallery{

      &-item-wrapper{


      }

      &-image{
        display: block;
        max-width:100%;
        height:auto;
      }

    }

    &__related{
      position: relative;
      padding: 50px 0;

      h2 {
        margin: 0 0 20px 0;
        font-size: 24px;
      }
    }

    &__detail {
      padding: 10px 15px;

      &-name{
        margin-top: 30px;
      }

      &-price{
        text-align: left!important;
        margin: 20px 0 0 0;
        line-height: 1.2;
      }

    }

    .slick-slider .slick-dots li {
      margin: 0 4px;
      vertical-align: middle;
    }
    .slick-dots li {
      margin: 0 10px;
    }

    .slick-dots li {
      position: relative;
      display: inline-block;
      height: 10px;
      width: 10px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 10px;
      width: 10px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
    }

    .slick-slider .slick-dots li.slick-active button:before {
      content: "";
      border-color: #000;
    }

    .slick-slider .slick-dots li button:before {
      content: "";
      border-color: #000;
      height: 12px;
      width: 12px;
      padding:0;
    }

    .slick-slider .slick-dots li button:before {
      border-radius: 100%;
      border: 4px solid transparent;
      opacity: 1;
      transition: all 0.2s;
    }

    .slick-dots li.slick-active button:before {
      color: #000;
    }

    .slick-dots li.slick-active button {
      border-width: 0;
    }

    .slick-slider .slick-dots li {

      button {
        position: relative;
      }

      &.slick-active{
        button {
          position: relative;
          background: #000;
        }
      }

    }

    .slick-dots li button {
      background: #ffffff;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #000;
    }

  }
}


