/* SINGLE Store Responsive*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .product-item {
    &__detail{
      &-content{
        h1 {
          font-size: 18px;
          font-weight: 400;
        }
      }
      &-variation-item{
        margin-bottom: 5px;
      }

      .single_variation_wrap{
        margin-bottom: 20px;
      }

      &-price{
        font-size: 18px;
        padding-right: 10px;
      }

    }

    &__detail-name{
      margin-bottom: 20px;
    }

    &__core-information{
      font-size: 13px;
    }

    .product-variations{
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .product-attributes{
      margin-top: 30px;
    }

    .btn{
      padding: 10px 31px;
      font-size: 14px;
      width: 80%;
    }

    &__videos {
      margin-bottom: 15px;
    }

  }

  .product-item__related{

    h2{
      font-size: 20px;
    }

    .product-list__item-info{
      padding: 0 0 20px 15px;
      font-size: 14px;
    }

  }

}


