.page-not-found{
  min-height: calc(100vh - 285px);
  h1{
    text-align: center;
    font-weight: 600;
    font-size: 150px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-bottom: 25px;
  }
  .error{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 75px;
  }
  .error-description{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #727272;

  }
  .go-home{
    height: 50px;
    width: 260px;
    text-align: center;
    line-height: 48px;
    text-align: center;
    margin: 110px auto 0;
    display: block;
    background: #000;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    &:hover{
      background: #fff;
      color: #000;
    }
  }
  &__content2{
    padding: 25px 0;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 285px);
    justify-content: center;
  }

}

.thank-you-page{
  min-height: calc(100vh - 285px);
  &__content{
    padding: 25px 0;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 285px);
    justify-content: center;
  }
  .logo{
    margin: 25px 0 50px;
    svg{
      width: 90px;
      margin: 0 auto;
      display: block;
    }
  }
  h1{
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-bottom: 25px;
  }
  p{
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 50px;
    font-weight: 300;
  }
  a{
    display: table;
    margin: 0 auto;
    position: relative;

  }
}