/* Store */

.searchData {
  font-weight: 600;
  margin: 25px 0;

  p {
    margin: 0;
  }
}

.store-open-later {
  padding: 40px 0 0 0;
  h2 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.5px;
  }
  p {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 32px;
    margin-bottom: 0;
    letter-spacing: 0.8px;
  }
}

/* STORE */

.category.store {
  .toolbar {
    margin-top: 96px;
    .cats {
      margin-top: 0;
      @media screen and (min-width: 768px) {
        padding: 0;
      }
    }
  }

}

.toolbar {
  width: 100%;
  margin: 0 auto;
  /*padding: 31px 0 10px 0;*/
  .column-switch {
    display: inline-block;
    vertical-align: top;
    > span {
      display: inline-block;
      font-size: 10px;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 1px;
      margin-right: 6px;
      font-weight: bold;
      vertical-align: top;
      line-height: 13px;
    }
    .circle {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #cacaca;
      cursor: pointer;
      margin-right: 5px;
      word-spacing: -4px;
      vertical-align: top;
      -webkit-border-radius: 100px;
      border-radius: 100px;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in;
    }
    > a {
      width: 9px;
      line-height: 9px;
      height: 13px;
      display: inline-block;
      cursor: pointer;
      &.three {
        width: 27px;
        margin-left: 6px;
      }
      &.four {
        width: 37px;
        margin-left: 3px;
      }
      &.active {
        cursor: default;
        .circle {
          background-color: #4d4d4d;
        }
      }
      &:hover .circle {
        background-color: #4d4d4d;
      }
    }
  }
  .filter-mobile {
    float: right;
    & span {
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      display: inline-block;
    }
    .filter-button {
      display: inline-block;
      margin-left: 15px;
      width: 15px;
      cursor: pointer;
    }
  }
  .cats {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 15px;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        color: black;
        line-height: 1.2;
      }
      &.active a {
        font-weight: 600;
      }
    }

    @media (max-width: 767px) {
      display: none;
      top: 15px;
      background: white;
      position: absolute;
      z-index: 10;
      padding: 15px 0;
      box-shadow: 0px 4px 15px 1px rgba(14, 14, 14, 0.68);
      li {
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.active {
        display: block;
      }
    }
  }
  @media (max-width: 768px) {
    margin-top: 40px !important;
  }
}

@media screen and (min-width: 1200px) {
  .toolbar .column-switch {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
  }
}

.products-grid {
  padding: 0;
  margin: 0;
  list-style: none;
  &.row {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 140px;
  }
  li {
    margin: 0;

    &:before, &:after {
      margin: 0;
    }

    &.col-md-3, &.col-md-4 {
      padding: 0;
    }
    &.col-md-12 {
      height: auto;
      padding: 0;
    }
  }
}

.product-list__item {
  position: relative;
}


.product-list__item-info {
  font-family: "Open Sans", sans-serif;
  min-height: initial !important;
  padding: 0 0 25px 25px;
  font-size: 16px;
  font-weight: 300;
  color: black;
  line-height: 1.2;
  text-align: left;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.product-list__item-data {
  margin-top: 15px;
  position: relative;
  .prices {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
  }
  .sizes {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
}

.product-list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.product-list__item-link {
  position: relative;
  display: block;
  overflow: hidden;
  img {
    transform: translate3d(0, 0, 0) scale(1.03);
  }
  &:hover {
    .prices {
      opacity: 0;
      visibility: hidden;
    }
    .sizes {
      opacity: 1;
      visibility: visible;
    }
    img {
      transform: translate3d(-2px, -2px, -2px) scale(1.05);
    }
  }
}

@media screen and (min-width: 768px) {
  .product-list__item, .product-list__item-title {
    position: relative;
  }
}

/* Product Loading More */

.category-item.clearfix{
  clear: both!important;

  &:after{
    content: '';
    clear: both;
    display: table;
  }

}

li.category-list__loading-wrapper {
  margin-top: 0;
  position: relative;
  width: 100%;
  z-index: 5;
  padding: 15px 0 105px 0;
  clear: both;


  .icon-arrow-right {
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    vertical-align: baseline;
    font-size: 26px;
    line-height: 1.2em;
  }

  .icon-arrow-right:before {
    content: "\27F6";
  }

}

.category-list__loading {
  position: absolute;
  left: 10px;
  -webkit-animation: category-list-loading 0.7s steps(3) infinite;
  animation: category-list-loading 0.7s steps(3) infinite;
  transform: rotate(90deg);
}

.category-item__eos {
  font-family: Courier, monospace, monotype, serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  background: #fff;
  position: relative;
  z-index: 1;
  clear: both;


  &-notify{
    margin: 35px 0 0 20px;
  }
}


@-webkit-keyframes category-list-loading {
  0% {
    top: 25px
  }
  100% {
    top: 100px
  }
}

@keyframes category-list-loading {
  0% {
    top: 25px
  }
  100% {
    top: 100px
  }
}