@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  transition: all 0.5s ease; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.ul, .nav_header ul, .nav_header-left, .nav_header-right, .footer ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.flex-row {
  display: flex;
  flex-direction: row;
  height: 100%; }
  @media screen and (min-width: 768px) {
    .flex-row {
      flex: 1 1 auto;
      flex-wrap: wrap; } }
  @media screen and (max-width: 767px) {
    .flex-row {
      flex-direction: column; } }

.list-inline li {
  display: inline-block; }

.text-center {
  text-align: center !important; }

.site-header {
  margin: 35px 0 38px 0; }
  .site-header h1 {
    font-size: 26px;
    color: black;
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 0 29px 0; }
  .site-header .back-btn {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: black;
    line-height: 1.3;
    position: absolute;
    left: 0; }
    .site-header .back-btn img {
      padding-right: 19px; }
  .site-header-menu {
    margin: 0 0 0 35px;
    padding: 0;
    text-align: center; }
    .site-header-menu li {
      padding: 0 75px; }
      .site-header-menu li.active a {
        font-weight: 700; }
      .site-header-menu li a {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        color: black;
        line-height: 1.2; }

@media screen and (min-width: 992px) and (min-height: 815px) {
  .section-fullScreen {
    height: 100%;
    height: 100vh; } }
@media screen and (max-width: 991px) and (max-height: 814px) {
  .section-fullScreen {
    height: 100%;
    min-height: 820px; } }
.header {
  position: relative;
  width: 100%; }

.header-video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .header-video-container .row {
    margin: 0; }

.header-video-wrapper video.fillWidth {
  width: 100%; }

.header-video-wrapper #video-block {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.header-inner {
  width: 100%;
  top: 50%;
  z-index: 12;
  margin-top: -86px;
  position: absolute;
  text-align: center; }

h1.header-title {
  font-size: 58px;
  color: white;
  line-height: 1.2;
  text-align: center;
  font-weight: 600; }

.header-bottom-line {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0; }

.header-bottom-line .icon_arrow {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  color: #fff;
  text-decoration: none; }
  .header-bottom-line .icon_arrow a {
    color: #fff;
    text-decoration: none; }
    .header-bottom-line .icon_arrow a:hover {
      color: #fff;
      text-decoration: none;
      opacity: 0.85; }
  .header-bottom-line .icon_arrow span {
    display: block;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none; }
  .header-bottom-line .icon_arrow:hover {
    color: #fff;
    text-decoration: none; }

.header-home .nav_header ul li a {
  color: #fff; }
.header-home .nav_header-left li {
  color: #fff; }
.header-home .nav_header-left .site-search .input-wrap-border {
  background: #fff; }
.header-home .nav_header-left .site-search ::-webkit-input-placeholder {
  color: #fff; }
.header-home .nav_header-right li {
  color: #fff; }
  .header-home .nav_header-right li a {
    color: #fff; }
    .header-home .nav_header-right li a:hover {
      color: #c4c4c4; }
.header-home .nav_header ul.dropdown > li a {
  color: #fff; }

.header-page .nav_header ul li a {
  color: #000; }
.header-page .nav_header-left li {
  color: #000; }
.header-page .nav_header-left .site-search .input-wrap-border {
  background: #000; }
.header-page .nav_header-left .site-search ::-webkit-input-placeholder {
  color: #000; }
.header-page .nav_header-right li {
  color: #000; }
  .header-page .nav_header-right li a {
    color: #000; }
    .header-page .nav_header-right li a:hover {
      color: #c4c4c4; }
.header-page .nav_header ul.dropdown > li a {
  color: #fff; }

.nav_header {
  text-align: center;
  margin-top: 30px; }
  .nav_header ul li {
    position: relative; }
    .nav_header ul li a {
      padding: 0 16px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.2; }
  .nav_header-left {
    margin-top: 32px;
    text-align: left; }
    .nav_header-left li {
      display: inline-block;
      text-align: left;
      padding-right: 32px; }
    .nav_header-left .site-search .input-wrap {
      display: inline-block;
      max-width: 100px; }
    .nav_header-left .site-search .input-wrap-border {
      position: relative;
      width: 0;
      transition: all 0.5s ease;
      height: 1px;
      max-width: 100px; }
    .nav_header-left .site-search input {
      background: transparent;
      border: 0;
      outline: 0;
      width: 100%; }
      .nav_header-left .site-search input:focus + .input-wrap-border {
        width: 100%; }
    .nav_header-left .site-search button {
      background: transparent;
      border: 0; }
    .nav_header-left .site-search img {
      max-width: 10px; }
  .nav_header-right {
    margin-top: 32px;
    text-align: right; }
    .nav_header-right li {
      display: inline-block;
      text-align: right; }
      .nav_header-right li a {
        padding-left: 32px;
        text-align: right; }
  .nav_header ul.dropdown {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 24px 32px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 24px 32px 0 rgba(0, 0, 0, 0.19);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding-bottom: 20px;
    min-width: 140px; }
  .nav_header ul.dropdown > li {
    clear: both;
    width: 100%;
    border: 0;
    position: relative;
    display: block;
    margin-top: 25px; }
    .nav_header ul.dropdown > li a {
      text-decoration: none; }
      .nav_header ul.dropdown > li a:hover {
        opacity: 0.95; }

.site-info {
  text-align: center; }

.ko-logo {
  margin-top: 42px; }

/* Home */
.section {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100vh; }

.section-bg {
  background-size: cover;
  height: 100%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  overflow: hidden; }

.section-bg:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05); }

/* section-fall */
.section-fall {
  position: relative; }
  .section-fall .section-data {
    position: absolute;
    top: 438px;
    left: 180px;
    text-align: left; }
  .section-fall .section-title {
    font-size: 36px;
    color: black;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0; }
  .section-fall .section-sub-title {
    font-size: 24px;
    color: black;
    line-height: 1.2;
    text-align: left;
    margin: 32px 0; }
  .section-fall .section-btn a {
    line-height: 22px;
    text-decoration: none; }
    .section-fall .section-btn a img {
      padding-left: 15px; }

/*section-category*/
.section-category-item {
  overflow: hidden; }
.section-category-title {
  position: absolute;
  top: 101px;
  left: 80px;
  text-align: left;
  font-size: 36px;
  color: black;
  line-height: 1.2; }
.section-category .header-bottom-line .icon_arrow {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  color: #000;
  text-decoration: none; }
  .section-category .header-bottom-line .icon_arrow a {
    color: #000;
    text-decoration: none; }
    .section-category .header-bottom-line .icon_arrow a:hover {
      color: #000;
      text-decoration: none;
      opacity: 0.85; }
  .section-category .header-bottom-line .icon_arrow span {
    display: block;
    color: #000;
    margin-bottom: 15px;
    text-decoration: none; }
  .section-category .header-bottom-line .icon_arrow:hover {
    color: #000;
    text-decoration: none; }
  .section-category .header-bottom-line .icon_arrow img {
    transform: rotate(-90deg); }

@font-face {
  font-family: "Effra Reg";
  src: url("../../fonts/EFFRA-REG.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA HEAVY";
  src: url("../../fonts/EFFRA-HEAVY.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA LIGHT";
  src: url("../../fonts/EFFRA-LIGHT.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA MEDIUM";
  src: url("../../fonts/EFFRA-MEDIUM.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA ITALIC";
  src: url("../../fonts/EFFRA-ITALIC.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA HEAVY ITALIC";
  src: url("../../fonts/EFFRA-HEAVY-ITALIC.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA LIGHT ITALIC";
  src: url("../../fonts/EFFRA-LIGHT-ITALIC.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA MEDIUM ITALIC";
  src: url("../../fonts/EFFRA-LIGHT-ITALIC.TTF") format("truetype"); }
@font-face {
  font-family: "EFFRA BOLD";
  src: url("../../fonts/EFFRA-BOLD.TTF") format("truetype"); }
/* Collection */
.collection {
  /* TPL 1*/
  /* TPL 3*/
  /* TPL 4 */ }
  .collection-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      .collection-flex {
        flex-direction: column;
        flex-wrap: nowrap; } }
    .collection-flex.reverse {
      flex-direction: row-reverse; }
      @media screen and (max-width: 767px) {
        .collection-flex.reverse {
          flex-direction: column;
          flex-wrap: nowrap; } }
  .collection-tpl1-item {
    background-repeat: no-repeat;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden;
    padding-top: 50%;
    position: relative; }
  .collection-tpl3-item {
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden;
    padding-top: 50%;
    position: relative; }
  .collection-tpl3-left .collection-tpl3-item {
    padding-top: 100%; }
  .collection-tpl4-item {
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden;
    padding-top: 50%;
    position: relative; }
  .collection-tpl4-left .collection-tpl3-item {
    padding-top: 100%; }
  .collection a.item-gallery {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    overflow: hidden; }
    .collection a.item-gallery:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05); }

.mfp-move-from-top .mfp-figure {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95); }

.mfp-move-from-top.mfp-image-loaded .mfp-figure {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.mfp-move-from-top.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #ffffff;
  opacity: 1; }
.mfp-move-from-top img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 100px 0 40px 0;
  margin: 0 auto; }
.mfp-move-from-top .mfp-close, .mfp-move-from-top .mfp-arrow, .mfp-move-from-top .mfp-preloader, .mfp-move-from-top .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
.mfp-move-from-top button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }
.mfp-move-from-top button.mfp-arrow {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  color: #000;
  opacity: 1;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  margin-left: -1px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s; }
.mfp-move-from-top button::-moz-focus-inner {
  padding: 0;
  border: 0; }
.mfp-move-from-top button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  background: 0 0;
  border: none;
  font-size: 0;
  width: 55px;
  height: 45px;
  outline: 0; }
.mfp-move-from-top .button.mfp-close:hover, .mfp-move-from-top button.mfp-close:active, .mfp-move-from-top button.mfp-close:focus {
  outline: 0; }
.mfp-move-from-top button.mfp-close:before {
  content: "";
  left: 12px;
  width: 32px;
  height: 2px;
  background: #000;
  position: absolute;
  outline: 0; }
.mfp-move-from-top button.mfp-close:after {
  content: "";
  left: 12px;
  width: 32px;
  height: 2px;
  background: #000;
  position: absolute;
  outline: 0; }
.mfp-move-from-top button.mfp-close:after {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  top: auto;
  bottom: 20px;
  -webkit-transform: translateY(-3px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg); }
.mfp-move-from-top button.mfp-close:before {
  top: 16px;
  -webkit-transform: translateY(3px) rotate(135deg);
  transform: translateY(5px) rotate(135deg);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out; }
.mfp-move-from-top button.mfp-arrow {
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  color: #000;
  opacity: 1;
  width: 70px;
  height: 70px;
  border: 1px solid #000;
  margin-left: -1px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s; }
.mfp-move-from-top button::-moz-focus-inner {
  padding: 0;
  border: 0; }
.mfp-move-from-top .mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 30px;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
.mfp-move-from-top .mfp-close:hover, .mfp-move-from-top .mfp-close:focus {
  opacity: 1; }
.mfp-move-from-top .mfp-image-holder .mfp-close, .mfp-move-from-top .mfp-iframe-holder .mfp-close {
  right: -6px;
  padding-right: 6px;
  color: #000;
  left: 50%;
  text-align: center;
  /* width: 100%; */
  /* width: 100%; */
  transform: translate(-50%, 0); }
.mfp-move-from-top .mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
.mfp-move-from-top .mfp-arrow:active {
  margin-top: -54px; }
.mfp-move-from-top .mfp-arrow:hover, .mfp-move-from-top .mfp-arrow:focus {
  opacity: 1; }
.mfp-move-from-top .mfp-arrow-left {
  left: 0; }
.mfp-move-from-top .mfp-arrow-left:after {
  content: '';
  display: block;
  height: 100%;
  width: 3px;
  background: #000;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  z-index: 1;
  bottom: 0; }
.mfp-move-from-top .mfp-arrow-left:before {
  content: 'тЖР';
  display: block;
  position: relative;
  -webkit-transition: all 0.6s ease-in 0s;
  transition: all 0.6s ease-in 0s;
  color: #000;
  opacity: 1;
  z-index: 10;
  font-size: 30px; }
.mfp-move-from-top .mfp-arrow-left:hover:after {
  width: 100%;
  right: 0; }
.mfp-move-from-top .mfp-arrow-left:hover:before {
  color: #fff; }
.mfp-move-from-top .mfp-arrow-right {
  right: 0; }
.mfp-move-from-top .mfp-arrow-right:after {
  content: '';
  display: block;
  height: 100%;
  width: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  z-index: 1; }
.mfp-move-from-top .mfp-arrow-right:before {
  content: 'тЖТ';
  display: block;
  position: relative;
  -webkit-transition: all 0.6s ease-in 0s;
  transition: all 0.6s ease-in 0s;
  color: #000;
  opacity: 1;
  z-index: 10;
  font-size: 30px; }
.mfp-move-from-top .mfp-arrow-right:hover:after {
  width: 100%;
  left: 0px; }
.mfp-move-from-top .mfp-arrow-right:hover:before {
  color: #fff; }

/* About */
/* Designer Page */
.designer-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 991px) {
    .designer-bg {
      padding-top: 100%; } }
.designer-text {
  align-self: center; }
  .designer-text h2 {
    font-size: 24px;
    color: black;
    line-height: 1.2;
    text-align: left;
    font-weight: 400; }
  .designer-text-content {
    margin: 0 0  55px 0;
    padding-left: 15px;
    padding-right: 15px; }
    @media screen and (min-width: 992px) {
      .designer-text-content {
        padding-left: 50px;
        padding-right: 50px; } }
    @media screen and (min-width: 1199px) {
      .designer-text-content {
        padding-left: 80px;
        padding-right: 172px; } }
    .designer-text-content p {
      font-size: 16px;
      color: black;
      line-height: 1.5;
      text-align: left;
      font-weight: 400;
      margin: 0 0 29px 0; }
.designer-flex {
  display: flex;
  flex-direction: row;
  height: 100%; }
  @media screen and (min-width: 992px) {
    .designer-flex {
      flex: 1 1 auto;
      flex-wrap: wrap; } }
  @media screen and (max-width: 991px) {
    .designer-flex {
      flex-direction: column; } }

/* Production Page */
.production-video {
  overflow: hidden; }
@media screen and (min-width: 992px) {
  .production .reverse {
    flex-direction: row-reverse; } }
.production .designer-text-content {
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 992px) {
    .production .designer-text-content {
      padding-left: 75px;
      padding-right: 75px; } }
  @media screen and (min-width: 1199px) {
    .production .designer-text-content {
      padding: 0 130px; } }
.production-tpl3-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  line-height: 1.5;
  text-align: left;
  padding: 60px 15px; }
  @media screen and (min-width: 992px) {
    .production-tpl3-text {
      padding: 60px 30px; } }
  @media screen and (min-width: 1199px) {
    .production-tpl3-text {
      padding: 60px 50px; } }
.production-images {
  height: 75%; }

.production-tpl4 .slider-flex {
  display: flex;
  overflow: hidden; }
  .production-tpl4 .slider-flex .press-slider-item {
    flex-basis: 33%;
    max-width: 33%;
    width: 33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
.production-tpl4 .slider-right {
  background: none;
  width: 100%;
  border: 0;
  box-shadow: none;
  outline: 0; }
  .production-tpl4 .slider-right img {
    transform: rotate(180deg);
    padding-top: 1px; }
  .production-tpl4 .slider-right span {
    display: inline-block;
    padding-right: 6px; }
  @media screen and (max-width: 767px) {
    .production-tpl4 .slider-right {
      display: block;
      margin: 20px 0; } }
.production-tpl4-images {
  overflow: hidden; }

/* Customer */
/* Style the tab */
div.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px; }

/* Style the buttons inside the tab */
div.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s; }

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd; }

/* Create an active/current "tab button" class */
div.tab button.active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px; }

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 56px 0 60px;
  position: relative; }
  .footer .container-fluid {
    position: relative; }
  .footer ul li a {
    color: #fff;
    line-height: 1;
    padding: 0 16px; }
  .footer_nav-bottom {
    margin-top: 55px; }
    .footer_nav-bottom ul li a {
      color: #727272;
      padding: 0 16px; }
  .footer .payment {
    position: absolute;
    left: 20px;
    top: 0px;
    margin-top: 0;
    margin-bottom: 35px; }
    @media screen and (max-width: 767px) {
      .footer .payment {
        position: relative;
        left: auto;
        top: auto; } }
    .footer .payment i {
      font-size: 36px; }

/*# sourceMappingURL=style.css.map */
