/* ToolTip */

.tooltip-wrap {
  float: right;


  @media screen and (min-width: 992px){
    position: relative;
  }

}

.tooltip-wrap-show{
  box-shadow: none;
  border: 0;
  background: none;
  font-size: 12px;
  color: #727272;
}

.tooltip-content {
  display: none;
  position: absolute;
  top: 0;
  left: 40px;
  min-width: 350px;
  z-index: 999;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 7px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;

  &.active {
    display: block;
  }

  @media screen and (max-width: 991px){
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}