<!-- Collection TPL 1 -->

<section class="collection-tpl1 collection wow fadeInUp animated" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin collection-flex">
            <div class="col-sm-6 collection-tpl1-left collection-tpl1-item gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/7/2/742bc07b-1e7f-498b-a5ec-a6926642fade.jpg" data-parallax='{"y":"-vh"}' class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/Dresses.png)"></a>
            </div>
            <div class="col-sm-6 collection-tpl1-right">
                <div class="row">
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/img-red.png" data-effect="mfp-move-from-top" data-parallax target="_self" class="item-gallery" style="background-image: url(img/collection/img-red.png)"></a>
                    </div>
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/img-red.png" data-effect="mfp-move-from-top" data-parallax target="_self" class="item-gallery" style="background-image: url(img/collection/img-red.png)"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/img-blue.png" data-effect="mfp-move-from-top" data-parallax target="_self" class="item-gallery" style="background-image: url(img/collection/img-blue.png)"></a>
                    </div>
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/img-light-blue.png" data-effect="mfp-move-from-top" data-parallax target="_self" class="item-gallery" style="background-image: url(img/collection/img-light-blue.png)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- End Collection TPL 1 -->