<!-- Collection TPL 2 -->

<section class="about-section  collection-tpl3 collection wow fadeInUp animated" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin collection-flex">
            <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                    <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                </a>
            </div>
            <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                    <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                </a>
            </div>
            <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                    <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- End Collection TPL 2 -->