<!-- Collection TPL 3 -->

<section class=" collection-tpl1 collection-tpl2 collection wow fadeInUp animated" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin collection-flex reverse">
            <div class="col-sm-6 collection-tpl1-left collection-tpl1-item gallery">
                <a href="img/collection/girl-big-black.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-big-black.png)"></a>
            </div>
            <div class="col-sm-6 collection-tpl1-right">
                <div class="row">
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/girl-blue.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-blue.png)"></a>
                    </div>
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/girl-black.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-black.png)"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/girl-small-black.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-small-black.png)"></a>
                    </div>
                    <div class="col-sm-6 collection-tpl1-item gallery">
                        <a href="img/collection/girl-small-black2.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-small-black2.png)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- End Collection TPL 3 -->