<!-- Collection TPL 4 -->

<section class="collection-tpl6 collection wow fadeInUp animated" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin collection-flex">
            <div class="col-sm-6 collection-tpl6-item collection-tpl4-left gallery">
                <a href="img/collection/height-brown.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/height-brown.png)"></a>
            </div>
            <div class="col-sm-6 collection-tpl6-item collection-tpl4-right gallery">
                <a href="img/collection/girl-bif-red.png" class="item-gallery" data-effect="mfp-move-from-top" target="_self" style="background-image: url(img/collection/girl-bif-red.png)"></a>
            </div>
        </div>
    </div>
</section>

<!-- End Collection TPL 4 -->