<footer class="footer">
    <div class="container-fluid">

        <ul class="payment list-inline">
            <li><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
            <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
        </ul>

        <div class="row">
            <div class="col-sm-12">

                <div class="footer_nav">
                    <ul class="list-inline menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Store</a></li>
                        <li><a href="collection.html">Collections</a></li>
                        <li><a href="about-design.html">About</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>

                <div class="footer_nav-bottom">
                    <ul class="list-inline">
                        <li>Copyright © 2017  ValeryKovalska.com</li>
                        <li><a href="customer-care.html#shipping">Terms & Conditions</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>

<div class="productAdded">
    Product Added To Bag!
</div>


<!-- for scaling image on mobile -->
<!-- use or unused show class when user visit collection page first -->
<div class="scaleImageOnMobile showen">
    <div class="scaleImageOnMobile-overlay"></div>

    <div class="scaleImageOnMobile-modal">
        <button class="scaleImageOnMobile-close">
            <img src="img/combined-shape.svg" alt="Close Zoom Helper">
        </button>
        <div><img src="img/easyeashy_realtalk.gif" alt="" class="img-responsive"></div>
    </div>
</div>


<script type='text/javascript' src="js/jquery.min.js"></script>
<script async src="https://use.fontawesome.com/e0f1d91632.js"></script>
<script type='text/javascript' src="js/wow.min.js"></script>
<script type='text/javascript' src="js/jquery.magnific-popup.min.js"></script>
<script type='text/javascript' src="js/slick.min.js"></script>

<script type='text/javascript' src="js/enquire.js"></script>
<script type='text/javascript' src="js/bootstrap.min.js"></script>
<script type='text/javascript' src="js/jquery.vide.min.js"></script>

<script src="js/jquery.zoom.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.scrollbar.js"></script>
<script src="js//underscore.js"></script>
<script src="js/pinchzoom.js"></script>

<script src="js/stickScroll.js"></script>

<script type='text/javascript' src="js/app.js"></script>

<script>
    var wow = new WOW({
        boxClass: 'wow',
        offset: 0,
        mobile: false,
        live: true
    });

    document.addEventListener("DOMContentLoaded", wow.init());

</script>

</body>

</html>