
<script type='text/javascript' src="js/jquery.min.js"></script>
<script async src="https://use.fontawesome.com/e0f1d91632.js"></script>
<script type='text/javascript' src='js/wow.min.js'></script>
<script type='text/javascript' src='js/jquery.magnific-popup.min.js'></script>
<script type='text/javascript' src='js/slick.min.js'></script>
<script type='text/javascript' src='js/smoothScroll.js'></script>
<script type='text/javascript' src="js/enquire.js"></script>
<script type='text/javascript' src="js/bootstrap.min.js"></script>
<script type='text/javascript' src="js/jquery.vide.min.js"></script>
<script type='text/javascript' src="js/jquery.lazyloadxt.extra.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script type='text/javascript' src='js/app.js'></script>


</body>

</html>