//= core/head-page2.html
<main class="page">
    <section class="page-not-found">
        <div class="container">
            <div class="page-not-found__content2">
                <div class="page-not-found__content-block">
                    <h1>404</h1>
                    <p class="error">Error: Page not found</p>
                    <p class="error-description">The URL you requested was not found</p>
                    <a href="" class="go-home">Homepage</a>
                </div>
            </div>
        </div>
    </section>
</main>
//= core/footer.html