//= core/head-page2.html

<main class="page">
<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    ABOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu list-inline">
                    <li><a href="about-brand.html">BRAND</a></li>
                    <li class="active"><a href="about-design.html">DESIGNER</a></li>
                    <li><a href="about-production.html">PRODUCTION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="about-section designer section-fullScreen">
    <div class="container-fluid designer-flex">
        <div class="row designer-flex row-margin">
            <div class="col-md-6 designer-bg wow fadeInLeft animated" >
                <div class="section-bg" style="background-image: url(img/about/designer.png)"></div>
            </div>
            <div class="col-md-6 designer-text wow fadeInRight animated">
                <div class="designer-text-content">
                    <h2>
                        Valery Kovalska
                    </h2>
                    <p>Valery Kovalska is a young Ukrainian designer and a leading figure in the Ukraine fashion world. In recent years her brand has developed a significant reputation and following internationally as well.</p>
                    <p>Valery has always said that fashion just happened to her, that it was never a conscious choice, that it was somehow always just a part of her DNA. Valery’s friends were all in creative fields; dancers, musicians, lmmakers, and in the fine arts.</p>
                    <p>They loved Valery’s unique style and began asking if she could create clothing for them as well. Through this, at the age of 17, she developed a career working as a stylist and a wardrobe designer for various TV and music video projects in Russia and in the Ukraine</p>
                    <p>Valery Kovalska pieces are fashion forward and edgy with an approachable laid back feel and an unmistakable element of cool.</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Collection TPL 2 -->

    <section class="about-section  collection-tpl3 collection wow fadeInUp animated" data-wow-duration="800ms">
        <div class="container-fluid">
            <div class="row row-margin collection-flex">
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- End Collection TPL 2 -->


<!-- End Site Content -->

</main>

//= core/footer.html