//= core/head-page2.html
<main class="page">

<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    ABOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu list-inline">
                    <li class="active"><a href="about-brand.html">BRAND</a></li>
                    <li><a href="about-design.html">DESIGNER</a></li>
                    <li><a href="about-production.html">PRODUCTION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="about-section brand designer section-fullScreen">
    <div class="container-fluid designer-flex">
        <div class="row designer-flex row-margin">
            <div class="col-md-6 designer-bg wow fadeInLeft animated">
                <img class="section-bg" src="img/about/brand.png" alt="">
            </div>
            <div class="col-md-6 designer-text wow fadeInRight animated">
                <div class="designer-text-content">
                    <div class="scrollbar-inner">
                        <h2>
                            Brand
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section flex production designer section-fullScreen production-tpl4 wow fadeInUp animated">
    <div class="flex designer-bg big">
        <div class="section-bg" style="background-image: url(img/about/brand-big.png)"></div>
    </div>
</section>

    <!-- Collection TPL 2 -->

    <section class="about-section  collection-tpl3 collection wow fadeInUp animated" data-wow-duration="800ms">
        <div class="container-fluid">
            <div class="row row-margin collection-flex">
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
                <div class="col-sm-4 collection-tpl3-item collection-tpl3-right gallery">
                    <a href="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="mfp-img" alt="undefined" src="http://192.168.1.87:7777/media/collections/image/8/7/8578df44-1bb7-472e-baa6-bca9beed7658.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- End Collection TPL 2 -->



<!-- End Site Content -->

</main>

//= core/footer.html