//= core/head-page2.html

<main class="page">

<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    ABOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu list-inline">
                    <li><a href="about-brand.html">BRAND</a></li>
                    <li><a href="about-design.html">DESIGNER</a></li>
                    <li class="active"><a href="about-production.html">PRODUCTION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="about-section production production-video section-fullScreen production-tpl1">
    <div class="video" data-vide-bg="mp4: video/Samurai_SHORT_1.mp4" data-vide-options="loop: true, muted: true, autoplay: true, position: 50% 0%, resizing: true"></div>
</section>


<section class="about-section production designer section-fullScreen">
    <div class="container-fluid designer-flex">
        <div class="row designer-flex row-margin reverse">
            <div class="col-md-6 designer-bg  wow fadeInRight animated">
                <div class="section-bg" style="background-image: url(img/about/brand-production-small.png)"></div>
            </div>
            <div class="col-md-6 designer-text  wow fadeInLeft animated">
                <div class="designer-text-content">
                    <h2>
                        Brand
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                        modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="production designer production-tpl3 press-tpl2">
    <div class="flex-row">
        <div class="row production-tpl3-images">
            <div class="col-sm-6 designer-bg wow fadeInLeft animated">
                <div class="section-bg" style="background-image: url(img/about/prod-left.png)"></div>
            </div>
            <div class="col-sm-6 designer-bg wow fadeInRight animated">
                <div class="section-bg" style="background-image: url(img/about/prod-rigth.png)"></div>
            </div>
        </div>
        <div class="row production-tpl3-text wow fadeInUp animated">
            <div class="col-sm-12">
                <div class="production-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section flex production designer section-fullScreen production-tpl4 wow fadeInUp animated">
    <div class="flex">
        <div class="row flex">
            <div class="flex designer-bg big">
                <div class="section-bg" style="background-image: url(img/about/brand-big.png)"></div>
            </div>
        </div>
    </div>
</section>

<!-- End Site Content -->

</main>

//= core/footer.html