//= core/head-page2.html

<main class="page">

    <!-- Site Content -->

    <section class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        PRESS
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                    <ul class="site-header-menu list-inline">
                        <li class="active"><a href="all-news.html">PRESS</a></li>
                        <li><a href="media-insta.html">INSTAGRAM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="all__press">

        <div class="all__press-item all__press-item1">
            <div class="row all__press-item-flex">
                <div class="col-md-6 col-sm-6 all__press-item-bg wow fadeInLeft animated" >
                    <div class="scroll">
                        <img src="img/about/brand-production-small.png" alt="Lorem ipsum" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 all__press-item-wrap wow fadeInRight animated">
                    <div class="all__press-item-text-content">
                        <h2>
                            Lorem ipsum
                        </h2>
                        <div class="all__press-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                        </div>

                        <a href="single-news.html" class="readMore">
                            <span>view more</span> <img src="img/arrow.svg" alt="View more">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="all__press-item all__press-item2">
            <div class="row all__press-item-flex reverse">
                <div class="col-md-6 col-sm-6 all__press-item-bg wow fadeInRight animated ">
                    <div class="scroll">
                        <img src="img/press/r.png" alt="Lorem ipsum" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 all__press-item-wrap wow fadeInLeft animated sticky_column">
                    <div class="all__press-item-text-content">
                        <h2>
                            Lorem ipsum
                        </h2>
                        <div class="all__press-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam.
                        </div>

                        <a href="single-news.html" class="readMore">
                            <span>view more</span> <img src="img/arrow.svg" alt="View more">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="all__press-item all__press-item3">
            <div class="row all__press-item3-flex">
                <div class="col-md-9 col-sm-9 slider-flex">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 press-slider-item">
                            <img src="img/press/slider/2.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 press-slider-item">
                            <img src="img/press/slider/1.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 press-slider-item">
                            <img src="img/press/slider/3.png" class="img-responsive" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-3 slider-flex-btn-wrap hidden-xs">
                    <a class="readMore" href="single-news.html">
                        <span>view more</span> <img src="img/arrow.svg" alt="View more">
                    </a>
                </div>
            </div>
            <div class="row all__press-item3-text wow fadeInUp animated">
                <div class="col-md-12 all__press-item-wrap wow fadeInUp animated">
                    <div class="all__press-item-text-content">
                        <h2>
                            Lorem ipsum
                        </h2>
                        <div class="all__press-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam.
                        </div>
                        <a href="single-news.html" class="readMore visible-xs">
                            <span>view more</span> <img src="img/arrow.svg" alt="View more">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <!-- End Site Content -->

</main>

//= core/footer.html