//= core/head-page2.html

<main class="page">
<!-- Site Content -->

<section class="site-header store-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    SHOPING BAG
                </h1>
                <div class="back-to-shop">
                    <a href="store-category.html">back to shop</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="store bag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">

                    <thead>
                    <tr>
                        <th rowspan="1" class="hidden-sm hidden-xs"><a href="" class="back-btn">
                            <img src="img/arrow.svg" alt="back button">back</a>
                        </th>
                        <th rowspan="1">Item</th>
                        <th class="hidden-sm hidden-xs">Quantity</th>
                        <th rowspan="1">Price</th>
                        <th rowspan="1">Remove</th>
                    </tr>
                    </thead>

                    <tbody>

                        <tr class="bag__item">

                            <td class="bag__item-thumb hidden-sm hidden-xs">
                                <a href="">
                                    <img src="img/bag/bag.jpg" alt="" width="200" height="200"/>
                                </a>
                            </td>

                            <td class="bag__item-info" data-title="Название товара">

                                <div class="name">Marjon Diamond diamond paisley blue</div>
                                <div class="size">
                                    Size: 32
                                </div>
                                <div class="color">
                                    Color: Blue
                                </div>
                                <div class="article">
                                    01FH9980
                                </div>

                            </td>

                            <td class="bag__item-qyantity  hidden-xs hidden-sm" data-title="Количество">
                                <div class="quantity">
                                    <div class="quantity-button quantity-down"><i class="fa fa-angle-left"></i></div>
                                    <input type="number" id="input-quantity" name="quantity[1]" value="1" size="1"
                                           class="form-control">
                                    <div class="quantity-button quantity-up"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </td>
                            <td class="bag__item-price" data-title="Цена за ед.">
                                598$
                            </td>
                            <td class="bag__item-remove" data-title="Удалить товар">
                                <button>
                                    <img src="img/icons/remove.svg" alt="remove item">
                                </button>
                            </td>
                        </tr>

                        <tr class="bag__item">

                            <td class="bag__item-thumb hidden-sm hidden-xs">
                                <a href="">
                                    <img src="img/bag/bag.jpg" alt="" width="200" height="200"/>
                                </a>
                            </td>

                            <td class="bag__item-info" data-title="Название товара">

                                <div class="name">Marjon Diamond diamond paisley blue</div>
                                <div class="size">
                                    Size: 32
                                </div>
                                <div class="color">
                                    Color: Blue
                                </div>
                                <div class="article">
                                    01FH9980
                                </div>

                            </td>

                            <td class="bag__item-qyantity  hidden-xs hidden-sm" data-title="Количество">
                                <div class="quantity">
                                    <div class="quantity-button quantity-down"><i class="fa fa-angle-left"></i></div>
                                    <input type="number" id="input-quantity" name="quantity[1]" value="1" size="1"
                                           class="form-control">
                                    <div class="quantity-button quantity-up"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </td>
                            <td class="bag__item-price" data-title="Цена за ед.">
                                598$
                            </td>
                            <td class="bag__item-remove" data-title="Удалить товар">
                                <button>
                                    <img src="img/icons/remove.svg" alt="remove item">
                                </button>
                            </td>
                        </tr>

                        <tr class="bag__item">

                            <td class="bag__item-thumb hidden-sm hidden-xs">
                                <a href="">
                                    <img src="img/bag/bag.jpg" alt="" width="200" height="200"/>
                                </a>
                            </td>

                            <td class="bag__item-info" data-title="Название товара">

                                <div class="name">Marjon Diamond diamond paisley blue</div>
                                <div class="size">
                                    Size: 32
                                </div>
                                <div class="color">
                                    Color: Blue
                                </div>
                                <div class="article">
                                    01FH9980
                                </div>

                            </td>

                            <td class="bag__item-qyantity  hidden-xs hidden-sm" data-title="Количество">
                                <div class="quantity">
                                    <div class="quantity-button quantity-down"><i class="fa fa-angle-left"></i></div>
                                    <input type="number" id="input-quantity" name="quantity[1]" value="1" size="1"
                                           class="form-control">
                                    <div class="quantity-button quantity-up"><i class="fa fa-angle-right"></i></div>
                                </div>
                            </td>
                            <td class="bag__item-price" data-title="Цена за ед.">
                                598$
                            </td>
                            <td class="bag__item-remove" data-title="Удалить товар">
                                <button>
                                    <img src="img/icons/remove.svg" alt="remove item">
                                </button>
                            </td>
                        </tr>

                    </tbody>

                </table>


                <div class="bag-total row">
                    <div class="col-md-3 col-xs-6">
                        <div class="div">
                            Total
                        </div>
                        <div class="div">
                            Free shipping
                        </div>
                        <div class="div">
                            Order total
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="div">
                            1510$
                        </div>

                        <div class="div">
                            0$
                        </div>

                        <div class="div">
                            1510$
                        </div>

                    </div>
                    <div class="col-md-6 bag-total__btn col-xs-12">
                        <a class="btn btn-primary" href="checkout.html">
                            Check out
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- End Site Content -->

</main>

//= core/footer.html