//= core/head-page2.html

<main class="page">

<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    CHECKOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="cart.html" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu checkout-steps list-inline">
                    <li class="active"><a href="cart.html">0. SELECTION</a></li>
                    <li class="active"><a href="checkout.html">1. SHIPPING</a></li>
                    <li><a data-href="payment.html">2. PAYMENT</a></li>
                    <li><a data-href="confirm.html">3. CONFIRMATION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="store checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-xs-12 checkout__shipping">

                <form class="form-horizontal" id="shippingForm">
                    <!--checkout-->
                    <div class="row">


                        <div class="col-lg-6 col-sm-12 checkout__shipping-fields">
                            <div class="form-group">
                                <label for="firstNameShipping" class="col-sm-3 control-label">First name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="firstNameShipping" aria-describedby="nameHelp"
                                           name="firstNameShipping" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastNameShipping" class="col-sm-3 control-label">Last name</label>
                                <div class="col-sm-9">
                                    <input type="text" id="lastNameShipping" aria-describedby="nameHelp"
                                           name="lastNameShipping" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="addressShipping" class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" id="addressShipping" aria-describedby="nameHelp"
                                           name="addressShipping" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="countryShipping" class="col-sm-3 control-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" id="countryShipping" aria-describedby="nameHelp"
                                           name="countryShipping" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cityShipping" class="col-sm-3 control-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" id="cityShipping" aria-describedby="nameHelp" name="cityShipping"
                                           required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zipShipping" class="col-sm-3 control-label">ZIP</label>
                                <div class="col-sm-9">
                                    <input type="text" id="zipShipping" aria-describedby="nameHelp" name="zipShipping"
                                           required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneShipping" class="col-sm-3 control-label">Cell phone</label>
                                <div class="col-sm-9">
                                    <input type="text" id="phoneShipping" aria-describedby="nameHelp"
                                           name="phoneShipping" required class="form-control">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4 col-md-5 col-sm-12">
                            <div class="checkout__total">
                                <div class="row gray-bg checkout__total-all">
                                    <div class="col-xs-6">Total</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                                <div class="row gray-bg checkout__total-shipping">
                                    <div class="col-xs-6">Shipping</div>
                                    <div class="col-xs-6 text-right">0$</div>
                                </div>
                                <div class="row checkout__total-last">
                                    <div class="col-xs-6">TOTAL</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                            </div>
                            <div class="checkout__back">
                                <a href="#">back to shop</a>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 text-right checkout-btn-wrap">
                                <input type="submit" class="checkout-btn btn btn-primary" value="Precced"
                                       data-nextstep="payment.html">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END checkout -->

        </div>
    </div>
    </div>
</section>


<!-- End Site Content -->

</main>

//= core/footer.html