//= core/head-page2.html


<main class="page">

    <!-- Site Content -->
    <section class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        Spring-summer 2017
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                </div>
            </div>
        </div>
    </section>




//= templates/collection/tpl/tpl1.html
//= templates/collection/tpl/tpl2.html
//= templates/collection/tpl/tpl3.html
//= templates/collection/tpl/tpl4.html
//= templates/collection/tpl/tpl5.html
//= templates/collection/tpl/tpl6.html


<!-- End Site Content -->

</main>


//= core/footer.html