//= core/head-page2.html


<main class="page">

<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    CHECKOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="payment.html" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu checkout-steps list-inline">
                    <li class="active"><a href="cart.html">0. SELECTION</a></li>
                    <li class="active"><a href="checkout.html">1. SHIPPING</a></li>
                    <li class="active"><a href="payment.html">2. PAYMENT</a></li>
                    <li class="active"><a href="confirm.html">3. CONFIRMATION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="store checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 checkout__shipping">

                <!--checkout-->
                <form class="form-horizontal" id="confirmForm">

                    <div class="row">
                        <div class="col-lg-6 col-sm-12 checkout__shipping-fields confirm-valid">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Card type</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline card-details visa checked">
                                        <input type="radio" id="card-payment-visa" checked value="visa"
                                               name="card-payment">
                                        Visa
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="radio-inline card-details masterCard">
                                        <input type="radio" id="card-payment-mastercard" value="mastercard"
                                               name="card-payment">
                                        MasterCard
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNum-payment" class="col-sm-4 control-label">Card number</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cardNum-payment" value="41582454887848487" class="form-control">
                                    <p class="log"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Expiration date</label>
                                <div class="col-sm-8">
                                    <select id="mounth" name="monthDatePayment" required>
                                        <option value="february selected">February</option>
                                    </select>

                                    <select id="year" name="yearDatePayment" required>
                                        <option value="2010" selected>2010</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cvvPayment" class="col-sm-4 control-label">CVV</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cvvPayment" value="258" name="cvvPayment" required
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cNamePayment" class="col-sm-4 control-label">Cardholder's name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cNamePayment" value="Mykola Kovalenko" name=cNamePayment" required
                                           class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="checkbox-inline billing-details checked">
                                        <input type="checkbox" checked value="" name="billingDetailsPayment">
                                        Billing details are the same as the shipping details
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            <div class="checkout__total">
                                <div class="row gray-bg checkout__total-all">
                                    <div class="col-xs-6">Total</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                                <div class="row gray-bg checkout__total-shipping">
                                    <div class="col-xs-6">Shipping</div>
                                    <div class="col-xs-6 text-right">0$</div>
                                </div>
                                <div class="row checkout__total-last">
                                    <div class="col-xs-6">TOTAL</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                            </div>
                            <div class="checkout__back">
                                <div class="row">
                                    <div class="col-xs-3"><a href="#">back to shop</a></div>
                                    <div class="col-xs-9 text-right">
                                        <button type="submit" class="checkout-btn btn btn-primary" data-nextstep="thank_you_page.html">Complete order</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <!-- END checkout -->

            </div>
        </div>
    </div>
</section>


<!-- End Site Content -->


</main>

//= core/footer.html