//= core/head-contacts.html

<main class="page">
<!-- Site Content -->
<section class="contacts fillWidth section-fullScreen wow fadeIn animated" style="background-image: url(img/contacts/bg.jpg)">
    <div class="contacts-data container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    CONTACTS
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="" class="back-btn"><img src="img/arrow-white.svg" alt="back button">back</a>
                <ul class="site-header-menu list-inline" role="tablist">
                    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL</a></li>
                    <li role="presentation"><a href="#stockkists" aria-controls="stockkists" role="tab" data-toggle="tab">STOCKISTS</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active animated fadeIn" id="general">
                        <div class="content">
                            <div class="row content-contacts-top">
                                <div class="col-sm-6 left">
                                    <h2>
                                        GENERAL:
                                    </h2>
                                    <ul>
                                        <li>Valery Kovalska (CEO/ Creative director)</li>
                                        <li>valery@valerykovalska.com</li>
                                        <li>Katerina Kochura</li>
                                        <li>kateryna.post@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 right">
                                    <h2>
                                        Europe
                                    </h2>
                                    <ul>
                                        <li>Showroom Mosaique - Paris Sabrina Laval</li>
                                        <li>sabrinamosaique@gmail.com</li>
                                        <li> www.showroom-mosaique.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row content-contacts-bottom">
                                <div class="col-sm-6 left">
                                    <h2>
                                        Global Sales Director
                                    </h2>
                                    <ul>
                                        <li>Bethel Collins New York</li>
                                        <li>bethel@valerykovalska.com</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 right">
                                    <h2>
                                        Middle east
                                    </h2>
                                    <ul>
                                        <li>Showroom Mosaique - Paris Michele Sursock</li>
                                        <li>michelemosaique@gmail.com</li>
                                        <li>www.showroom-mosaique.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="stockkists">
                        <div class="content">
                            <div class="row content-stocklist">
                                <div class="col-md-8 col-md-offset-2">
                                    <ul class="stocklist">
                                        <li class="pop">
                                            Kiev
                                            <div class="pop-wrap"> 
                                                <div class="stocklist-list">
                                                    <div class="stocklist__list-item">
                                                        <h3 class="name">
                                                            Dream Town
                                                        </h3>
                                                        <div class="address">
                                                            av.Obolonsky. 21, b
                                                        </div>
                                                        <div class="site">
                                                            <a href="httt://www.dreamtown.com.ua" target="_blank"> www.dreamtown.com.ua</a>
                                                        </div>
                                                    </div>
                                                    <div class="stocklist__list-item">
                                                        <h3 class="name">
                                                            Lavina Mall
                                                        </h3>
                                                        <div class="address">
                                                            st.Berkovetska, 6D,
                                                            lorem ipsum lorem ipsum
                                                        </div>
                                                        <div class="site">
                                                            <a href="httt://www.lavina.com.ua" target="_blank">www.lavina.com.ua</a>
                                                        </div>
                                                    </div>
                                                    <div class="stocklist__list-item">
                                                        <h3 class="name">
                                                            Lavina Mall
                                                        </h3>
                                                        <div class="address">
                                                            st.Berkovetska, 6D,
                                                            lorem ipsum lorem ipsum
                                                        </div>
                                                        <div class="site">
                                                            <a href="httt://www.lavina.com.ua" target="_blank">www.lavina.com.ua</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pop">
                                            Hong Kong
                                            <div class="pop-wrap">
                                                <div  class="stocklist__list">
                                                    <div class="stocklist__list-item">
                                                        <h3 class="name">
                                                            Lavina Mall
                                                        </h3>
                                                        <div class="address">
                                                            st.Berkovetska, 6D,
                                                            lorem ipsum lorem ipsum
                                                        </div>
                                                        <div class="site">
                                                            <a href="httt://www.lavina.com.ua" target="_blank">www.lavina.com.ua</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>Monaco</li>
                                        <li>Istanbul</li>
                                        <li>New York</li>
                                        <li>Santorini</li>
                                        <li>Dallas</li>
                                        <li>Kuwait</li>
                                        <li>Dubai</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Site Content -->

</main>

//= core/footer.html