//= core/head-page2.html

<main class="page">

    <!-- Site Content -->

    <section class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        General info
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                </div>
            </div>
        </div>
    </section>


    <section class="customer section-fullScreen">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs sidebar-menu" role="tablist">
                        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab"
                                                                  data-toggle="tab">General info</a></li>
                        <li role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment
                            info</a></li>
                        <li role="presentation"><a href="#shipping" aria-controls="shipping" role="tab"
                                                   data-toggle="tab">Shipping info</a></li>
                        <li role="presentation"><a href="#returny" aria-controls="returny" role="tab" data-toggle="tab">Return
                            policy</a></li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact
                            us</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active animated fadeIn" id="general">
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p class="text-two-column">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor.
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="payment">
                            <div class="content">
                                <div class="scrollbar-inner">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                        sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                        felis tellus in reprehenderit in voluptate velit.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                        sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                        felis tellus in reprehenderit in voluptate velit.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
                                        vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                        sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                        felis tellus in reprehenderit in voluptate velit.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                        laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                                        Proin sodales pulvinar tempor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="shipping">
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p class="text-two-column">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="returny">
                            <div class="content">
                                <p class="text-two-column">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor.
                                </p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane animated fadeIn" id="contact">
                            <div class="content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p class="text-two-column">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient
                                    montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor
                                    sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                    Nam fermentum, nulla luctus pharetra vulputate, felis tellus in reprehenderit in
                                    voluptate velit.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                    laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
                                    sodales pulvinar tempor.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- End Site Content -->

</main>

//= core/footer.html