//= core/head-home.html


<main class="page">
    <!-- Site Content -->

    <section class="home__hero section-fullScreen">
        <div class="video" data-vide-bg="mp4: video/Samurai_SHORT_1.mp4" data-vide-options="loop: true, muted: true, autoplay: true, position: 50% 0%, resizing: true"></div>
        <div class="header-inner">
            <h1 class="header-title">
                <a href="">Spring-summer 2017-2018</a>
            </h1>
        </div>
        <div class="header-bottom-line">
            <div class="icon_arrow">
                <a href="#section1" class="icon_arrow_click">
                    <img src="img/icons/arrow-icon.svg" alt="arrow">
                </a>
            </div>
        </div>

    </section>

    <section id="section1" class="section section-fall section-fullScreen wow fadeInUp animated" data-wow-duration="800ms">
        <div class="section-bg" style="background-image: url(img/section2.png)"></div>
        <div class="section-data">
            <h2 class="section-title">Fall 2017</h2>
            <h3 class="section-sub-title">
                Discover our latest collection
            </h3>
            <div class="section-btn">
                <a href="#" class="arow-move">shop now <img src="img/arrow-right.png" alt="Shop Now"></a>
            </div>
        </div>
        <a href="{% url 'shop:category' page_info.one_main_category.alias %}" class="cats-link"></a>
    </section>

    <section class="section section-category home section-fullScreen">
        <div class="flex-row">
            <div class="col-sm-6 section-category-item wow fadeInLeft animated" data-wow-duration="800ms" >
                <div class="section-bg" style="background-image: url(img/Dresses.png)"></div>
                <div class="section-category-title">
                    Dresses
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 section-category-item  wow fadeInRight animated" data-wow-duration="800ms" >
                <div class="section-bg" style="background-image: url(img/exclusive.png)"></div>
                <div class="section-category-title">
                    Online exclusives
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop Now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-fullScreen home section-category">
        <div class="flex-row">
            <div class="col-sm-6 section-category-item wow fadeInLeft animated" data-wow-duration="800ms">
                <div class="section-bg" style="background-image: url(img/Dresses.png)"></div>
                <div class="section-category-title">
                    Dresses
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
                <a href="#" class="cats-link"></a>
            </div>
            <div class="col-sm-6 section-category-item wow fadeInRight animated" data-wow-duration="800ms">
                <div class="section-bg" style="background-image: url(img/exclusive.png)"></div>
                <div class="section-category-title">
                    Online exclusives
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-fullScreen section-category">
        <div class="flex-row">
            <div class="col-sm-6 section-category-item wow fadeInLeft animated"  data-wow-duration="800ms">
                <div class="section-bg" style="background-image: url(img/Dresses.png)"></div>
                <div class="section-category-title">
                    Dresses
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 section-category-item wow fadeInRight animated" data-wow-duration="800ms">
                <div class="section-bg" style="background-image: url(img/exclusive.png)"></div>
                <div class="section-category-title">
                    Online exclusives
                    <div class="section-category-sub-title">
                        discover our latest collection
                    </div>
                </div>
                <div class="header-bottom-line">
                    <div class="icon_arrow">
                        <a href="#section1" class="arow-move">
                            <span>shop now</span>
                            <img src="img/arrow.svg" alt="arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- End Site Content -->


</main>

//= core/footer.html