//= core/head-page2.html

<main class="page">

    <!-- Site Content -->

    <section class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        INSTAGRAM
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                    <ul class="site-header-menu list-inline">
                        <li class="active"><a href="media-press.html">PRESS</a></li>
                        <li><a href="media-insta.html">INSTAGRAM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="instagram-content">

                        //= instagram/content.html
                        //= instagram/content.html
                        //= instagram/content.html
                        //= instagram/content.html
                        //= instagram/content.html
                        //= instagram/content.html

                    </div>

                    <div class="product-item__eos">
                        <div class="product-item__eos-notify">
                            /* Load next item */
                        </div>
                    </div>

                    <div class="insta__loading-wrapper" id="waypoint" style="opacity: 1;"
                         data-next-producturl="/store/next_product/" data-load="unload" data-next-product="4">
                        <div class="insta__list__loading" style="opacity: 1;">
                            <span class="icon icon-arrow-right"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <!-- End Site Content -->

</main>

//= core/footer.html