//= core/head-page2.html

<main class="page">

    <!-- Site Content -->

    <section class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>
                        PRESS
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                    <ul class="site-header-menu list-inline">
                        <li class="active"><a href="media-press.html">PRESS</a></li>
                        <li><a href="media-insta.html">INSTAGRAM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="about-section production designer section-fullScreen press-tpl1">
        <div class="container-fluid designer-flex">
            <div class="row designer-flex row-margin">
                <div class="col-md-6 designer-bg wow fadeInLeft animated">
                    <div class="section-bg" style="background-image: url(img/about/brand-production-small.png)"></div>
                </div>
                <div class="col-md-6 designer-text wow fadeInRight animated">
                    <div class="designer-text-content">
                        <h2>
                            Lorem ipsum
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about-section production designer section-fullScreen press-tpl1">
        <div class="container-fluid designer-flex">
            <div class="row designer-flex reverse row-margin">
                <div class="col-md-6 designer-bg wow fadeInLeft animated">
                    <div class="section-bg" style="background-image: url(img/about/brand-production-small.png)"></div>
                </div>
                <div class="col-md-6 designer-text wow fadeInRight animated">
                    <div class="designer-text-content">
                        <h2>
                            Lorem ipsum
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat
                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
                            perspiciatis
                            unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                            aperiam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="production designer production-tpl3 press-tpl2">
        <div class="flex-row">
            <div class="row production-tpl3-images">
                <div class="col-sm-6 designer-bg wow fadeInLeft animated">
                    <div class="section-bg" style="background-image: url(img/press/press-left.png)"></div>
                </div>
                <div class="col-sm-6 designer-bg wow fadeInRight animated">
                    <div class="section-bg" style="background-image: url(img/press/press-right.png)"></div>
                </div>
            </div>
            <div class="row production-tpl3-text wow fadeInUp animated">
                <div class="col-sm-12">
                    <div class="production-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                        illo
                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos
                        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit
                        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore magnam aliquam quaerat voluptatem.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                        illo
                        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                        eos
                        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                        sit
                        amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore magnam aliquam quaerat voluptatem.
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="production designer press-tpl3 wow fadeInUp animated">
        <div class="row production-tpl3-images">
            <div class="col-md-9 col-sm-9 slider-flex">
                <div class="press-slider-item" style="background-image: url(img/press/press-right.png)">
                    <img src="img/press/press-right.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/press/press-left.png)">
                    <img src="img/press/press-left.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/about/designer.png)">
                    <img src="img/about/designer.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/about/brand-production-small.png)">
                    <img src="img/about/brand-production-small.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 slider-flex-btn-wrap">
                <button type="button" class="slider-right">
                    <span>view more</span> <img src="img/arrow.svg" alt="View more">
                </button>
            </div>
        </div>
        <div class="row  production-tpl3-text press-tpl3-text wow fadeInUp animated">
            <div class="col-sm-12">
                <div class="production-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                </div>
            </div>
        </div>
    </section>


    <section class="production designer press-tpl3 wow fadeInUp animated">
        <div class="row production-tpl3-images">
            <div class="col-md-9 col-sm-9 slider-flex">
                <div class="press-slider-item" style="background-image: url(img/press/press-right.png)">
                    <img src="img/press/press-right.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/press/press-left.png)">
                    <img src="img/press/press-left.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/about/designer.png)">
                    <img src="img/about/designer.png" alt="">
                </div>
                <div class="press-slider-item" style="background-image: url(img/about/brand-production-small.png)">
                    <img src="img/about/brand-production-small.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-3 slider-flex-btn-wrap">
                <button type="button" class="slider-right">
                    <span>view more</span> <img src="img/arrow.svg" alt="View more">
                </button>
            </div>
        </div>
        <div class="row  production-tpl3-text press-tpl3-text wow fadeInUp animated">
            <div class="col-sm-12">
                <div class="production-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                    qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                    dolore magnam aliquam quaerat voluptatem.
                </div>
            </div>
        </div>
    </section>


    <section class="press-tpl4 wow fadeInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center padding-rl-15">
                    <div class="video">
                        <iframe src="https://player.vimeo.com/video/229528487?color=ffffff&title=0&byline=0&portrait=0"
                                width="1170" height="585" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 padding-rl-15 text-center wow fadeInUp animated">
                    <h2>
                        Lorem ipsum
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                        error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- End Site Content -->

</main>

//= core/footer.html