//= core/head-page2.html

<main class="page">

<!-- Site Content -->

<section class="site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    CHECKOUT
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="checkout.html" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                <ul class="site-header-menu checkout-steps list-inline">
                    <li class="active"><a href="cart.html">0. SELECTION</a></li>
                    <li class="active"><a href="checkout.html">1. SHIPPING</a></li>
                    <li class="active"><a href="payment.html">2. PAYMENT</a></li>
                    <li><a data-href="confirm.html">3. CONFIRMATION</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="store checkout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 checkout__shipping">

                <!--checkout-->
                <form class="form-horizontal" id="paymentForm">

                    <div class="row">

                        <div class="col-lg-6 col-sm-12 checkout__shipping-fields">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Card type</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline card-details visa checked">
                                        <input type="radio" id="card-payment-visa" checked value="visa"
                                               name="card-payment">
                                        Visa
                                        <div class="control__indicator"></div>
                                    </label>
                                    <label class="radio-inline card-details masterCard">
                                        <input type="radio" id="card-payment-mastercard" value="mastercard"
                                               name="card-payment">
                                        MasterCard
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNum-payment" class="col-sm-4 control-label">Card number</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cardNum-payment" class="form-control">
                                    <p class="log"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Expiration date</label>
                                <div class="col-sm-8">
                                    <select id="mounth" name="monthDatePayment" required>
                                        <option value="hide">select month</option>
                                        <option value="january" rel="icon-temperature">January</option>
                                        <option value="february">February</option>
                                        <option value="march">March</option>
                                        <option value="april">April</option>
                                        <option value="may">May</option>
                                        <option value="june">June</option>
                                        <option value="july">July</option>
                                        <option value="august">August</option>
                                        <option value="september">September</option>
                                        <option value="october">October</option>
                                        <option value="november">November</option>
                                        <option value="december">December</option>
                                    </select>

                                    <select id="year" name="yearDatePayment" required>
                                        <option value="hide">select year</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cvvPayment" class="col-sm-4 control-label">CVV</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cvvPayment" name="cvvPayment" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cNamePayment" class="col-sm-4 control-label">Cardholder's name</label>
                                <div class="col-sm-8">
                                    <input type="text" id="cNamePayment" name=cNamePayment" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="checkbox-inline billing-details checked">
                                        <input type="checkbox" checked value="" name="billingDetailsPayment">
                                        Billing details are the same as the shipping details
                                        <div class="control__indicator"></div>
                                    </label>
                                </div>
                            </div>

                            <div id="paymentShipping" class="billing-details-data">
                                <div class="form-group">
                                    <label for="firstNameShipping" class="col-sm-3 control-label">First name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="firstNameShipping" aria-describedby="nameHelp"
                                               name="firstNameShipping" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastNameShipping" class="col-sm-3 control-label">Last name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="lastNameShipping" aria-describedby="nameHelp"
                                               name="lastNameShipping" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addressShipping" class="col-sm-3 control-label">Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="addressShipping" aria-describedby="nameHelp"
                                               name="addressShipping" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="countryShipping" class="col-sm-3 control-label">Country</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="countryShipping" aria-describedby="nameHelp"
                                               name="countryShipping" required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cityShipping" class="col-sm-3 control-label">City</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="cityShipping" aria-describedby="nameHelp"
                                               name="cityShipping"
                                               required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zipShipping" class="col-sm-3 control-label">ZIP</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="zipShipping" aria-describedby="nameHelp"
                                               name="zipShipping"
                                               required class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phoneShipping" class="col-sm-3 control-label">Cell phone</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="phoneShipping" aria-describedby="nameHelp"
                                               name="phoneShipping" required class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-4 col-sm-12">
                            <div class="checkout__total">
                                <div class="row gray-bg checkout__total-all">
                                    <div class="col-xs-6">Total</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                                <div class="row gray-bg checkout__total-shipping">
                                    <div class="col-xs-6">Shipping</div>
                                    <div class="col-xs-6 text-right">0$</div>
                                </div>
                                <div class="row checkout__total-last">
                                    <div class="col-xs-6">TOTAL</div>
                                    <div class="col-xs-6 text-right">1540$</div>
                                </div>
                            </div>
                            <div class="checkout__back">
                                <a href="#">back to shop</a>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 text-right checkout-btn-wrap">
                                <input type="submit" class="checkout-btn btn btn-primary" value="Precced"
                                       data-nextstep="confirm.html">
                            </div>
                        </div>
                    </div>

                </form>
                <!-- END checkout -->

            </div>
        </div>
    </div>

</section>


<!-- End Site Content -->

</main>

//= core/footer.html