//= core/head-page2.html


<main class="page">

<!-- Site Content -->
<section class="site-header hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    Category Name
                </h1>
            </div>
        </div>
    </div>
</section>


<section class="category store">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 toolbar">
                <div class="column-switch hidden-xs">
                    <span>View</span>
                    <a class="three" title="Three in a row"><span class="circle"></span><span
                            class="circle"></span><span class="circle"></span><span class="circle"></span><span
                            class="circle"></span><span class="circle"></span></a>
                    <a class="four active" title='Four in a row'><span class="circle"></span><span
                            class="circle"></span><span class="circle"></span><span class="circle"></span><span
                            class="circle"></span><span class="circle"></span><span class="circle"></span><span
                            class="circle"></span></a>
                </div>
                <div class="row visible-xs">
                    <div class="filter-mobile ">
                        <a href="#">all</a>
                        <div class="filter-button">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.023 44.023"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 44.023 44.023">
                                <g>
                                    <g>
                                        <path d="m43.729,.29c-0.219-0.22-0.513-0.303-0.799-0.276h-41.831c-0.286-0.026-0.579,0.057-0.798,0.276-0.09,0.09-0.155,0.195-0.203,0.306-0.059,0.128-0.098,0.268-0.098,0.418 0,0.292 0.129,0.549 0.329,0.731l14.671,20.539v20.662c-0.008,0.152 0.015,0.304 0.077,0.446 0.149,0.364 0.505,0.621 0.923,0.621 0.303,0 0.565-0.142 0.749-0.354l11.98-11.953c0.227-0.227 0.307-0.533 0.271-0.828v-8.589l14.729-20.583c0.392-0.391 0.392-1.025 0-1.416zm-16.445,20.998c-0.209,0.209-0.298,0.485-0.284,0.759v8.553l-10,9.977v-18.53c0.014-0.273-0.075-0.55-0.284-0.759l-13.767-19.274h38.128l-13.793,19.274z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="cats">
                            <li class="active"><a href="store-category.html">Just in</a></li>
                            <li><a href="store-category.html">Dresses</a></li>
                            <li><a href="store-category.html">Online exclusives</a></li>
                            <li><a href="store-category.html">Tops</a></li>
                            <li><a href="store-category.html">ButToms</a></li>
                            <li><a href="store-category.html">Evening Edition</a></li>
                            <li><a href="store-category.html">Accessories</a></li>
                            <li><a href="store-category.html">T-SHITS</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <!----SEARCH DATA --->

        <div class="searchData row">
            <div class="col-md-12">
                <p class="searchData-text">233 results found for <span id="searchData-request"> "івавафпа"<p></p>

                <!-- 0 results found -->  <!-- if results not found -->
            </div>
        </div>

        <!----SEARCH DATA --->
        <div class="category-products row-margin product-list__items row">

            <ul class="products-grid row row-margin showmodels first last odd">

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                             img/catalog/1.jpg 300w,
                                             img/catalog/1.jpg 768w,
                                             img/catalog/1.jpg 1024w,
                                             img/catalog/1.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/2.jpg 300w,
                                         img/catalog/2.jpg 768w,
                                         img/catalog/2.jpg 1024w,
                                         img/catalog/2.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/3.jpg 300w,
                                         img/catalog/3.jpg 768w,
                                         img/catalog/3.jpg 1024w,
                                         img/catalog/3.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/4.jpg 300w,
                                         img/catalog/4.jpg 768w,
                                         img/catalog/4.jpg 1024w,
                                         img/catalog/4.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/5.jpg 300w,
                                         img/catalog/5.jpg 768w,
                                         img/catalog/5.jpg 1024w,
                                         img/catalog/5.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Sweatshirt uno</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/6.jpg 300w,
                                         img/catalog/6.jpg 768w,
                                         img/catalog/6.jpg 1024w,
                                         img/catalog/6.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/4.jpg 300w,
                                         img/catalog/4.jpg 768w,
                                         img/catalog/4.jpg 1024w,
                                         img/catalog/4.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Unsmile cap</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/5.jpg 300w,
                                         img/catalog/5.jpg 768w,
                                         img/catalog/5.jpg 1024w,
                                         img/catalog/5.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Sweatshort lines</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/1.jpg 300w,
                                         img/catalog/1.jpg 768w,
                                         img/catalog/1.jpg 1024w,
                                         img/catalog/1.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/3.jpg 300w,
                                         img/catalog/3.jpg 768w,
                                         img/catalog/3.jpg 1024w,
                                         img/catalog/3.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Light Summer</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                         img/catalog/4.jpg 300w,
                                         img/catalog/4.jpg 768w,
                                         img/catalog/4.jpg 1024w,
                                         img/catalog/4.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Lightbird skirt</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>

                <li class="col-md-4 col-md-3 product-list__item product-list__item-last" data-load-more="unload">
                    <div class="product-list__item-wrap">
                        <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                            <div class="product-list__item-image">

                                <img srcset="
                                             img/catalog/1.jpg 300w,
                                             img/catalog/1.jpg 768w,
                                             img/catalog/1.jpg 1024w,
                                             img/catalog/1.jpg 1920w"
                                     alt="Acne Studios Foin Doublé Grey Melange 375x" src="img/catalog/1.jpg"
                                     itemprop="image">

                            </div>
                            <div class="product-list__item-info">
                                <div class="product-list__item-name">Acne studio’s jacket</div>
                                <div class="product-list__item-data">
                                    <div class="prices">
                                        99$
                                    </div>
                                    <div class="sizes">
                                        sizes: 36, 38, 40, 42
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>


                <!-- IF HAS NEXT PAGE -->

                <li class="category-item clearfix"></li>

                <li class="category-item__eos">
                    <div class="category-item__eos-notify">
                        /* Load more products */
                    </div>
                </li>

                <li class="category-list__loading-wrapper" style="opacity: 1;" data-load-more-url=""  data-info-data="" data-next-data="" data-next-page="" data-load="unload">
                    <div class="category-list__loading" style="opacity: 1;">
                        <span class="icon icon-arrow-right"></span>
                    </div>
                </li>

                <!-- IF HAS NEXT PAGE -->

           </ul>

        </div>
    </div>
</section>


<!-- End Site Content -->

</main>

//= core/footer.html