//= core/head-page2.html


<main class="page">

    <section class="site-header toolbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="store-category.html" class="back-btn hidden-xs hodden-sm"><img src="img/arrow.svg"
                                                                                            alt="back button">back</a>
                    <ul class="cats col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <li class="active"><a href="store-category.html">Just in</a></li>
                        <li><a href="store-category.html">Dresses</a></li>
                        <li><a href="store-category.html">Online exclusives</a></li>
                        <li><a href="store-category.html">Tops</a></li>
                        <li><a href="store-category.html">ButToms</a></li>
                        <li><a href="store-category.html">Evening Edition</a></li>
                        <li><a href="store-category.html">Accessories</a></li>
                        <li><a href="store-category.html">T-SHITS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="single store context context--active" data-context="Dfds xzdfgdfg fgfgh" data-product-url="/product1">

        <div class="product-item row">

            <div class="product-item__asset product-item__gallery gallery-panel__main-image has-zoom-images  col-md-12" id="main-image-js">
                <div class="product-item__gallery-container">
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div
                                data-main-img-url="img/14DC74-9E7_A.jpg"
                                data-main-img-zoom-url="img/14DC74-9E7_A.jpg"
                                data-image-index="0"
                                class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/14DC74-9E7_A.jpg"
                                 data-src="img/14DC74-9E7_A.jpg"
                                 alt="Balenciaga V-neck dress"
                                 title="Balenciaga V-neck dress" />
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/14DC74-9E7_A.jpg"
                                 data-src="img/14DC74-9E7_A.jpg" alt="Marjon Diamond diamond paisley blue 1500x 002">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/1.jpg"
                                 data-src="img/store/3.jpg" alt="Marjon Diamond diamond paisley blue 1500x 003">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/1.jpg"
                                 data-src="img/store/4.jpg" alt="Marjon Diamond diamond paisley blue 004">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/5.jpg"
                                 data-src="img/store/5.jpg" alt="Marjon Diamond diamond paisley blue 005">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/6.jpg"
                                 data-src="img/store/6.jpg" alt="Marjon Diamond diamond paisley blue 006">
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item__asset product-item__detail product-detail">
                <div class="product-item__detail-content">
                    <div class="product-item__detail-title">

                        <div class="product-item__detail-name row">
                            <div class="col-sm-9 col-xs-12">
                                <h1 class="product-name">
                                    Marjon Diamond diamond paisley blue
                                </h1>
                            </div>
                            <div class="col-sm-3 col-xs-12 product-item__detail-price text-right">
                                <div class="product-price">
                                    $299
                                </div>
                            </div>
                        </div>

                        <div class="product-item__core-information">

                            <!-- text information -->

                            <div class="product-item__detail-row product-item__detail-description">
                                <div class="product-item__detail-info-description">
                                    Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer scarf
                                    featuring the Acne Studios logo across the entire width.<br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit esse cillum
                                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                    sunt in culpa
                                </div>
                            </div>

                            <!-- end text information -->

                            <!-- colors -->
                            <form action="" method="get" id="productAddForm">
                                <div class="product-item__detail-row product-item__additional-item row">
                                    <div class="product-variations col-sm-12 col-md-8 col-lg-6">
                                        <div class="values">
                                            <div class="swatches color reset-list product-item__detail-variations-container">
                                                <label class="value-label">COLOR:</label>
                                                <label class="swatches color reset-list product-item__detail-variations-container currentswatch">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" checked="checked" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#bf8a8a"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#568cb9"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#bcb892"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#af8abf"></span>
                                                </span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf
                                                featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat
                                                non proident, sunt in culpa qui officia deserunt mollit anim id est
                                                laborum.
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium
                                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                enim
                                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                                quia
                                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                                Neque
                                                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                                labore et
                                                dolore magnam aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <!-- ebd colors -->

                                <!-- shop btns -->
                                <div class="row single_variation_wrap product-item__detail-row ">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 option_radio">
                                        <label class="size-label">SIZE:</label>
                                        <label>
                                            <input type="radio" value="xs" name="size_radio">
                                            34
                                        </label>
                                        <label>
                                            <input type="radio" value="s" name="size_radio">
                                            36
                                        </label>
                                        <label>
                                            <input type="radio" value="s" name="size_radio">
                                            38
                                        </label>
                                        <label class="checked">
                                            <input type="radio" checked="checked" value="s" name="size_radio">
                                            42
                                        </label>

                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf
                                                featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat
                                                non proident, sunt in culpa qui officia deserunt mollit anim id est
                                                laborum.
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium
                                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                enim
                                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                                quia
                                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                                Neque
                                                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                                labore et
                                                dolore magnam aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>


                                <!-- videos -->

                                <div class="product-item__videos">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8 col-lg-6 option_radio">
                                            <a data-fancybox="" href="https://vimeo.com/191947042">View Product
                                                Video</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- videos wrap-->

                                <div class="row variations_button product-item__detail-row row">
                                    <div class="col-sm-12 col-md-8 col-lg-6">
                                        <button type="submit" class="btn btn-block btn-primary">Add to bag</button>
                                        <input type="hidden" name="productID" value="10">
                                    </div>
                                </div>

                            </form>
                            <!-- end shop btns -->


                            <!-- product attribute -->
                            <div class="row product-item__detail-row product-attributes">
                                <div class="col-sm-12 col-md-8 col-lg-6">
                                    <div class="articl">
                                        01FH9980
                                    </div>
                                    <div class="return-info">
                                        Shipping and return


                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                                qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                                non numquam eius modi tempora incidunt ut labore et dolore magnam
                                                aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- end product attribute -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item__asset product-item__related product-related">

                <h2>Related Product</h2>

                <div class="products-grid row row-margin showmodels">

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/4.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/3.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/2.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/1.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="product-item__eos">
        <div class="product-item__eos-notify">
            /* Load next item */
        </div>
    </section>

    <section class="product-list__loading-wrapper" id="waypoint" style="opacity: 1;"
             data-next-producturl="/store/next_product/" data-load="unload" data-next-product="4">
        <div class="product-list__loading" style="opacity: 1;">
            <span class="icon icon-arrow-right"></span>
        </div>
    </section>


    <section class="single store context" data-context="DDD ddfggf xdfgdsgfg" data-category-url="/product2">

        <div class="product-item row">

            <div class="product-item__asset product-item__gallery  col-md-12">
                <div class="product-item__gallery-container">
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/14DC74-9E7_A.jpg"
                                 data-src="img/14DC74-9E7_A.jpg" alt="Marjon Diamond diamond paisley blue 1500x 001">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/14DC74-9E7_A.jpg"
                                 data-src="img/14DC74-9E7_A.jpg" alt="Marjon Diamond diamond paisley blue 1500x 002">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/1.jpg"
                                 data-src="img/store/3.jpg" alt="Marjon Diamond diamond paisley blue 1500x 003">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/1.jpg"
                                 data-src="img/store/4.jpg" alt="Marjon Diamond diamond paisley blue 004">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/5.jpg"
                                 data-src="img/store/5.jpg" alt="Marjon Diamond diamond paisley blue 005">
                        </div>
                    </div>
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn">
                            <img class="product-item__gallery-image lazyload" src="img/store/6.jpg"
                                 data-src="img/store/6.jpg" alt="Marjon Diamond diamond paisley blue 006">
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item__asset product-item__detail product-detail">
                <div class="product-item__detail-content">
                    <div class="product-item__detail-title">

                        <div class="product-item__detail-name row">
                            <div class="col-sm-9 col-xs-12">
                                <h1 class="product-name">
                                    Marjon Diamond diamond paisley blue
                                </h1>
                            </div>
                            <div class="col-sm-3 col-xs-12 product-item__detail-price text-right">
                                <div class="product-price">
                                    $299
                                </div>
                            </div>
                        </div>

                        <div class="product-item__core-information">

                            <!-- text information -->

                            <div class="product-item__detail-row product-item__detail-description">
                                <div class="product-item__detail-info-description">
                                    Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer scarf
                                    featuring the Acne Studios logo across the entire width.<br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit esse cillum
                                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                    sunt in culpa
                                </div>
                            </div>

                            <!-- end text information -->

                            <!-- colors -->
                            <form action="" method="get" id="productAddForm">
                                <div class="product-item__detail-row product-item__additional-item row">
                                    <div class="product-variations col-sm-12 col-md-8 col-lg-6">
                                        <div class="values">
                                            <div class="swatches color reset-list product-item__detail-variations-container">
                                                <label class="value-label">COLOR:</label>
                                                <label class="swatches color reset-list product-item__detail-variations-container currentswatch">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" checked="checked" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#bf8a8a"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#568cb9"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#bcb892"></span>
                                                </span>
                                                </label>
                                                <label class="swatches color reset-list product-item__detail-variations-container">
                                                <span class="product-item__detail-variation-item">
                                                    <input type="radio" value="xs" name="color_radio">
                                                    <span class="swatch-hex" style="background-color:#af8abf"></span>
                                                </span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf
                                                featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat
                                                non proident, sunt in culpa qui officia deserunt mollit anim id est
                                                laborum.
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium
                                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                enim
                                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                                quia
                                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                                Neque
                                                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                                labore et
                                                dolore magnam aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <!-- ebd colors -->

                                <!-- shop btns -->
                                <div class="row single_variation_wrap product-item__detail-row ">
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 option_radio">
                                        <label class="size-label">SIZE:</label>
                                        <label>
                                            <input type="radio" value="xs" name="size_radio">
                                            34
                                        </label>
                                        <label>
                                            <input type="radio" value="s" name="size_radio">
                                            36
                                        </label>
                                        <label>
                                            <input type="radio" value="s" name="size_radio">
                                            38
                                        </label>
                                        <label class="checked">
                                            <input type="radio" checked="checked" value="s" name="size_radio">
                                            42
                                        </label>

                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf
                                                featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse
                                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat
                                                non proident, sunt in culpa qui officia deserunt mollit anim id est
                                                laborum.
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium
                                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                                inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                                enim
                                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                                                quia
                                                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                                Neque
                                                porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                                                labore et
                                                dolore magnam aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>


                                <!-- videos -->

                                <div class="product-item__videos">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8 col-lg-6 option_radio">
                                            <a data-fancybox="" href="https://vimeo.com/191947042">View Product
                                                Video</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- videos wrap-->

                                <div class="row variations_button product-item__detail-row row">
                                    <div class="col-sm-12 col-md-8 col-lg-6">
                                        <button type="submit" class="btn btn-block btn-primary">Add to bag</button>
                                        <input type="hidden" name="productID" value="10">
                                    </div>
                                </div>

                            </form>
                            <!-- end shop btns -->


                            <!-- product attribute -->
                            <div class="row product-item__detail-row product-attributes">
                                <div class="col-sm-12 col-md-8 col-lg-6">
                                    <div class="articl">
                                        01FH9980
                                    </div>
                                    <div class="return-info">
                                        Shipping and return


                                        <div class="tooltip-wrap">

                                            <button class="tooltip-wrap-show">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            </button>
                                            <div class="tooltip-content">
                                                Acne Studios Marjon Diamond paisley blue is a beautifully fluid summer
                                                scarf featuring the Acne Studios logo across the entire width.
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do velit
                                                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                                ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                                                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                                                qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                                                non numquam eius modi tempora incidunt ut labore et dolore magnam
                                                aliquam quaerat voluptatem.
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- end product attribute -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="product-item__asset product-item__related product-related">

                <h2>Related Product</h2>

                <div class="products-grid row row-margin showmodels">

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/4.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/3.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/2.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-md-6 product-list__item">
                        <div class="product-list__item-wrap">
                            <a class="product-list__item-link" href="store-product.html" title="Foin Doublé">
                                <div class="product-list__item-image">
                                    <img class="lazyload" alt="Acne Studios Foin Doublé Grey Melange 375x"
                                         src="img/catalog/1.jpg"/>
                                </div>
                                <div class="product-list__item-info">
                                    <div class="product-list__item-name">Light Summer</div>
                                    <div class="product-list__item-data">
                                        <div class="prices">
                                            99$
                                        </div>
                                        <div class="sizes">
                                            sizes: 36, 38, 40, 42
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- End Site Content -->

</main>

//= core/footer.html