//= core/head-page2.html


<main class="page">
<!-- Site Content -->



<section class="store">
        <div class="store-open-later text-center">
            <img src="img/openning_soon.jpg" alt="Openning Soon" class="img-responsive">
        </div>
</section>


<!-- End Site Content -->

</main>

//= core/footer.html