//= core/head-page2.html


<main class="page">

    <section class="site-header toolbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <a href="store-category.html" class="back-btn hidden-xs hodden-sm"><img src="img/arrow.svg"
                                                                                            alt="back button">back</a>
                    <ul class="cats col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <li class="active"><a href="store-category.html">Just in</a></li>
                        <li><a href="store-category.html">Dresses</a></li>
                        <li><a href="store-category.html">Online exclusives</a></li>
                        <li><a href="store-category.html">Tops</a></li>
                        <li><a href="store-category.html">ButToms</a></li>
                        <li><a href="store-category.html">Evening Edition</a></li>
                        <li><a href="store-category.html">Accessories</a></li>
                        <li><a href="store-category.html">T-SHITS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="single store context context--active" data-context="Dress" data-product-url="/store/dresses/dress/">
        <div class="product-item row">

                <div class="product-item__gallery-container">
                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn"
                             style="visibility: visible; animation-name: fadeIn; position: relative; overflow: hidden;">

                            <img class="product-item__gallery-image lazyload"
                                 src="http://192.168.1.87:7777/media/cache/a0/3e/a03e7aa6ab8dd7968e8425c2c21663a6.png"
                                 data-src="/media/products/image/1/f/1bfb6087-d097-418b-9d60-58a8f534b18c.jpg"
                                 alt="Dress 123">

                            <img role="presentation"
                                 src="/media/products/image/1/f/1bfb6087-d097-418b-9d60-58a8f534b18c.jpg"
                                 class="zoomImg"
                                 style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 3337px; height: 5000px; border: none; max-width: none; max-height: none;">
                        </div>
                    </div>

                    <div class="product-item__asset product-item__detail product-detail">
                        <div class="product-item__detail-content">
                            <div class="product-item__detail-title">

                                <div class="product-item__detail-name row">
                                    <div class="col-sm-9 col-xs-12">
                                        <h1 class="product-name">
                                            Dress
                                        </h1>
                                    </div>
                                    <div class="col-sm-3 col-xs-12 product-item__detail-price text-right">
                                        <div class="product-price">
                                            $500,00
                                        </div>
                                    </div>
                                </div>

                                <div class="product-item__core-information">

                                    <!-- text information -->

                                    <div class="product-item__detail-row product-item__detail-description">
                                        <div class="product-item__detail-info-description">

                                            <p>Dress</p>

                                        </div>
                                    </div>

                                    <!-- end text information -->

                                    <!-- colors -->
                                    <form action="/store/add_to_cart/" class="productAddForm"
                                          data-ajax-url="/store/add_to_cart/" method="POST" id="productAddForm">
                                        <div class="product-item__detail-row product-item__additional-item row">
                                            <div class="product-variations col-sm-12 col-md-8 col-lg-6">
                                                <div class="values">
                                                    <div class="swatches color reset-list product-item__detail-variations-container">
                                                        <label class="value-label">COLOR:</label>

                                                        <label class="swatches color reset-list product-item__detail-variations-container currentswatch checked">
                                                        <span class="product-item__detail-variation-item">
                                                            <input type="radio" checked="checked" value="#0981f7"
                                                                   name="color_radio">
                                                            <span class="swatch-hex"
                                                                  style="background-color:#0981f7"></span>
                                                        </span>
                                                        </label>

                                                        <div class="tooltip-wrap">
                                                            <button type="button" class="tooltip-wrap-show">
                                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                            </button>
                                                            <div class="tooltip-content">
                                                                Color info wsdfsadfsdfsd Size info s adfsdfsd33333333.
                                                                Color info wsdfsadfsdfsd Size info s adfsdfsd33333333
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- ebd colors -->

                                        <!-- shop btns -->
                                        <div class="row single_variation_wrap product-item__detail-row ">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 option_radio">
                                                <label class="size-label">SIZE:</label>

                                                <label class="checked currentswatch">
                                                    <input type="radio" checked="checked" value="XL" name="size_radio">
                                                    XL
                                                </label>

                                                <label>
                                                    <input type="radio" value="3232" name="size_radio">
                                                    3232
                                                </label>

                                                <label>
                                                    <input type="radio" value="XXS" name="size_radio">
                                                    XXS
                                                </label>


                                                <div class="tooltip-wrap">
                                                    <button class="tooltip-wrap-show">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="tooltip-content">
                                                        Size info s adfsdfsd33333333 Size info s adfsdfsd33333333.
                                                        Size info s adfsdfsd33333333 Size info s adfsdfsd33333333
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                        <!-- videos -->

                                        <!-- videos wrap-->

                                        <div class="row variations_button product-item__detail-row row">
                                            <div class="col-sm-12 col-md-8 col-lg-6">
                                                <button type="submit" id="storeAddToCart"
                                                        class="btn btn-block btn-primary productAddToCart"> Add to bag
                                                </button>
                                                <input type="hidden" name="product" value="1">
                                                <input type="hidden" name="price" value="500,00">

                                            </div>
                                        </div>
                                    </form>
                                    <!-- end shop btns -->


                                    <!-- product attribute -->
                                    <div class="row product-item__detail-row product-attributes">
                                        <div class="col-sm-12 col-md-8 col-lg-6">
                                            <div class="articl">
                                                123
                                            </div>
                                            <div class="return-info">
                                                Shipping and return


                                                <div class="tooltip-wrap">

                                                    <button type="button" class="tooltip-wrap-show">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    </button>
                                                    <div class="tooltip-content">
                                                        How Much Does Shipping Cost?

                                                        Sevenly offers free shipping on all orders over $75 (for US customers
                                                        only). Shipping in the US is $6. Canadian orders are $11 and shipping
                                                        for all other international orders is $15. Give Bags and other
                                                        multi-unit orders under $50 are priced at $9 for US shipments, $15 for
                                                        Canadian shipments, and $20 for all other international orders.

                                                        How long does it take for my order to arrive?

                                                        Everything we do at Sevenly is “made to order.” That means we make the
                                                        product after we receive the specific order from you! So please allow
                                                        7-10 business days from the date of order to the time of shipment. That
                                                        said, we’re committed to getting your order to you as soon as possible,
                                                        and as soon as your order comes through, we go straight to work. First,
                                                        we process the order — we do the nitty-gritty backend stuff and prep the
                                                        pieces needed to print your shirts. Then we print. We make every shirt
                                                        to order, so sometimes this step might take a couple days, depending on
                                                        volume. The bottom line: we want to get you the best cause art on the
                                                        best apparel, and make sure everything is just how you want it. From
                                                        there, we package your order with love and send it on its way.

                                                        Domestic orders will arrive between 1-7 days after they ship, depending
                                                        on your location. International orders can take 10-30 days to arrive,
                                                        depending on shipping and customs.
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- end product attribute -->

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn"
                             style="visibility: visible; animation-name: fadeIn; position: relative; overflow: hidden;">


                            <img class="product-item__gallery-image lazyload"
                                 src="http://192.168.1.87:7777/media/cache/8d/5f/8d5f2312178ea48f57714ef4dde69d94.png"
                                 data-src="/media/products/image/9/7/98720742-e607-4eed-80f5-cd182d42826f.jpg"
                                 alt="Dress 123">

                            <img role="presentation"
                                 src="/media/products/image/9/7/98720742-e607-4eed-80f5-cd182d42826f.jpg"
                                 class="zoomImg"
                                 style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 3337px; height: 5000px; border: none; max-width: none; max-height: none;">
                        </div>
                    </div>

                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn"
                             style="visibility: visible; animation-name: fadeIn; position: relative; overflow: hidden;">


                            <img class="product-item__gallery-image lazyload"
                                 src="http://192.168.1.87:7777/media/cache/13/25/1325f9227689f19e91dbe5fa6194af4b.png"
                                 data-src="/media/products/image/c/d/ccddc30d-08e5-470e-990b-2537b63fb72b.jpg"
                                 alt="Dress 123">

                            <img role="presentation"
                                 src="/media/products/image/c/d/ccddc30d-08e5-470e-990b-2537b63fb72b.jpg"
                                 class="zoomImg"
                                 style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 3337px; height: 5000px; border: none; max-width: none; max-height: none;">
                        </div>
                    </div>

                    <div class="product-item__gallery-item-wrapper image-container">
                        <div class="product-item__gallery-item-image wow fadeIn"
                             style="visibility: hidden; animation-name: none; position: relative; overflow: hidden;">


                            <img class="product-item__gallery-image lazyload"
                                 src="http://192.168.1.87:7777/media/cache/fd/57/fd575f5ebca57565af61bf206ea6384f.png"
                                 data-src="/media/products/image/6/1/6f1d590d-3a51-4c89-8646-859e0a69a036.jpg"
                                 alt="Dress 123">

                            <img role="presentation"
                                 src="/media/products/image/6/1/6f1d590d-3a51-4c89-8646-859e0a69a036.jpg"
                                 class="zoomImg"
                                 style="position: absolute; top: 0px; left: 0px; opacity: 0; width: 3337px; height: 5000px; border: none; max-width: none; max-height: none;">
                        </div>
                    </div>


                    <div class="product-item__asset product-item__related product-related ">

                        <h2>Related Product</h2>

                        <div class="products-grid row row-margin showmodels">

                            <div class="col-md-6 col-md-6 product-list__item">
                                <div class="product-list__item-wrap">
                                    <a class="product-list__item-link"
                                       href="/store/product/aida-ruffle-trimmed-cotton-nightdress/" title=""
                                       data-original-title="Foin Doublé">
                                        <div class="product-list__item-image" style="height: 476px;">
                                            <img class="lazyload" alt="dfdsf"
                                                 src="http://192.168.1.87:7777/media/cache/d4/45/d4457402299c551814e548e66ff2d5d5.png">
                                        </div>
                                        <div class="product-list__item-info">
                                            <div class="product-list__item-name">Aida ruffle-trimmed cotton nightdress</div>
                                            <div class="product-list__item-data">
                                                <div class="prices">
                                                    929,99$
                                                </div>
                                                <div class="sizes">
                                                    sizes: S, L, XL, 1, 5, 7, 8
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-6 product-list__item">
                                <div class="product-list__item-wrap">
                                    <a class="product-list__item-link" href="/store/product/men-t-shirt/" title=""
                                       data-original-title="Foin Doublé">
                                        <div class="product-list__item-image" style="height: 476px;">
                                            <img class="lazyload" alt="df"
                                                 src="http://192.168.1.87:7777/media/cache/36/cb/36cbfbce2ddbb9d17f30811dc25b0c69.png">
                                        </div>
                                        <div class="product-list__item-info">
                                            <div class="product-list__item-name">Men T-Shirt</div>
                                            <div class="product-list__item-data">
                                                <div class="prices">
                                                    96,00$
                                                </div>
                                                <div class="sizes">
                                                    sizes: S, M, L, XL, 1, 2, 3, 4*, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,
                                                    XXS
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-6 product-list__item">
                                <div class="product-list__item-wrap">
                                    <a class="product-list__item-link" href="/store/product/shirt/" title=""
                                       data-original-title="Foin Doublé">
                                        <div class="product-list__item-image" style="height: 476px;">
                                            <img class="lazyload" alt="Shirt 190"
                                                 src="http://192.168.1.87:7777/media/cache/41/00/4100dfa91204f218f67c9c6dd43a4c94.png">
                                        </div>
                                        <div class="product-list__item-info">
                                            <div class="product-list__item-name">Shirt</div>
                                            <div class="product-list__item-data">
                                                <div class="prices">
                                                    150,00$
                                                </div>
                                                <div class="sizes">
                                                    sizes: S, M, L, XL
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>





        </div>
    </section>


    <!-- End Site Content -->

</main>

//= core/footer.html