//= core/head-page2.html

<main class="page">

    <section class="thank-you-page">
        <div class="container">
            <div class="thank-you-page__content">
                <div class="thank-you-page__content-block">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                        viewBox="0 0 95 94"
                         xmlns:xlink="http://www.w3.org/1999/xlink">

                         <g id="Слой_x0020_1">
                          <metadata id="CorelCorpID_0Corel-Layer"/>
                          <g id="_2980629644208">
                           <polygon class="fil0" points="51,0 43,17 71,8 "/>
                           <polygon class="fil0" points="58,21 64,15 64,15 64,15 71,9 43,18 52,30 "/>
                           <polygon class="fil0" points="5,17 42,17 42,17 50,0 "/>
                           <polygon class="fil0" points="0,60 24,60 31,62 40,49 "/>
                           <polygon class="fil0" points="74,8 73,8 72,9 68,13 66,15 66,15 67,15 67,15 81,15 90,7 "/>
                           <polygon class="fil0" points="66,16 65,16 64,17 58,22 54,28 53,31 52,32 34,59 80,16 66,16 "/>
                           <polygon class="fil0" points="95,46 77,53 88,25 "/>
                           <polygon class="fil0" points="74,38 80,32 80,32 80,32 87,26 76,53 65,44 "/>
                           <polygon class="fil0" points="76,91 77,54 77,54 95,47 "/>
                           <polygon class="fil0" points="32,94 34,70 32,63 46,55 "/>
                           <polygon class="fil0" points="88,23 88,23 86,25 82,28 80,31 80,30 80,30 80,29 82,15 90,7 "/>
                           <polygon class="fil0" points="79,30 79,31 79,32 73,37 67,41 64,43 63,44 35,60 81,16 79,30 "/>
                          </g>
                         </g>
                        </svg>
                    </div>
                    <h1>Thank you.</h1>
                    <p>Your order was completed successfully.</p>
                    <a href="" class="back-btn"><img src="img/arrow.svg" alt="back button">back</a>
                </div>
            </div>
        </div>
    </section>

</main>
//= core/footer.html