<!-- Collection TPL 1 -->
<section class="gallery gallery-tpl1 wow fadeInUp  ">
    <div class="container-fluid">
        <div class="row row-margin">


            <div class="col-sm-6 gallery-popap">
                <a href="http://192.168.1.87:7777/media/CACHE/images/collections/image/5/b/50be5656-945f-4dc1-83e4-6508a8afc9a6/1b0676842f964a80fc65fa22177df328.jpg" data-effect="mfp-zoom-in"  target="_self" class="js-magnific pinch-zoom">
                    <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/5/b/50be5656-945f-4dc1-83e4-6508a8afc9a6/1b0676842f964a80fc65fa22177df328.jpg" class="img-responsive shelf-img">
                </a>
            </div>

            <div class="col-sm-6 collection-tpl1-right gallery-popap">
                <div class="row">

                    <div class="col-sm-6 col-xs-6">
                        <a href="http://192.168.1.87:7777/media/collections/image/f/a/f5a9511f-3c77-4a3a-9608-1bbdadfa332c.jpg" data-effect="mfp-zoom-in"  target="_self" class="js-magnific pinch-zoom">
                            <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/f/a/f5a9511f-3c77-4a3a-9608-1bbdadfa332c/aecd7f62ad496a34b7886abfc5396209.jpg" class="img-responsive shelf-img">
                        </a>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <a href="http://192.168.1.87:7777/media/collections/image/2/3/2f398364-9095-4417-8228-c03504cd63a3.jpg" data-effect="mfp-zoom-in"  target="_self" class="js-magnific pinch-zoom">
                            <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/2/3/2f398364-9095-4417-8228-c03504cd63a3/28b06254d439e269e81dd6eade13df8f.jpg" class="img-responsive shelf-img">
                        </a>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-6 col-xs-6">
                        <a href="http://192.168.1.87:7777/media/collections/image/3/7/3f7bb2cd-7e6a-4f71-84fa-a8d3a8478eae.jpg" data-effect="mfp-zoom-in"  target="_self" class="js-magnific pinch-zoom">
                            <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/3/7/3f7bb2cd-7e6a-4f71-84fa-a8d3a8478eae/a27810395f38cb2b39eb372297550555.jpg" class="img-responsive shelf-img">
                        </a>
                    </div>

                    <div class="col-sm-6 col-xs-6">
                        <a href="http://192.168.1.87:7777/media/collections/image/8/b/88ba8aa4-56b3-4baa-9cd8-b47f17ec25dc.jpg" data-effect="mfp-zoom-in"  target="_self" class="js-magnific pinch-zoom">
                            <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/8/b/88ba8aa4-56b3-4baa-9cd8-b47f17ec25dc/473f90d077c2b8d43fff5003e4b7c379.jpg" class="img-responsive shelf-img">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- End Collection TPL 1 -->

