<!-- Collection TPL 2 -->
    <section class="gallery gallery-tpl2 wow fadeInUp animated" data-wow-duration="800ms" >
        <div class="container-fluid">
            <div class="row row-margin">

                <div class="col-sm-4">
                    <a href="http://192.168.1.87:7777/media/collections/image/3/b/39b8e990-2fb3-49d7-b4c3-0f489c6bec67.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/3/b/39b8e990-2fb3-49d7-b4c3-0f489c6bec67/4ef8a7fdbec96809ba536ee1e4af1325.jpg">
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="http://192.168.1.87:7777/media/collections/image/b/6/b263652f-795e-4e30-bf77-85a649d81ff4.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/b/6/b263652f-795e-4e30-bf77-85a649d81ff4/5453c353af3a2b3a6b77195e0043d32c.jpg">
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="http://192.168.1.87:7777/media/collections/image/7/f/76f0346e-ab9c-4238-9b97-d4451bb9657c.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                        <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/7/f/76f0346e-ab9c-4238-9b97-d4451bb9657c/52ffd59f6b63543c535a1c11fc33d200.jpg">
                    </a>
                </div>

            </div>
        </div>
    </section>

<!-- End Collection TPL 2 -->