<!-- Collection TPL 3 -->

<section class="gallery gallery-tpl3 wow fadeInUp animated" data-parallax="true" data-wow-duration="800ms"
         data-loop-counter="8">
    <div class="container-fluid">
        <div class="row row-margin reverse">
            <div class="col-sm-6 ">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 gallery">
                        <a href="http://192.168.1.87:7777/media/collections/image/a/a/aeaade34-d6c6-4a33-a241-a5134b7195c3.jpg"
                           class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                            <img class="img-responsive shelf-img" alt=""
                                 src="http://192.168.1.87:7777/media/CACHE/images/collections/image/a/a/aeaade34-d6c6-4a33-a241-a5134b7195c3/a3d578ea7cd5fa134ebcc25bc642d99b.jpg">
                        </a>
                    </div>


                    <div class="col-sm-6 col-xs-6 gallery">
                        <a href="http://192.168.1.87:7777/media/collections/image/9/c/95ce08f2-93ac-4950-b40d-f31919fb0de9.jpg"
                           class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                            <img class="img-responsive shelf-img" alt=""
                                 src="http://192.168.1.87:7777/media/CACHE/images/collections/image/9/c/95ce08f2-93ac-4950-b40d-f31919fb0de9/d6956db32748922c39e8066ba0f1b075.jpg">
                        </a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-xs-6gallery">
                        <a href="http://192.168.1.87:7777/media/collections/image/e/d/e3d395ce-4ac4-4dcc-9e9c-042ce0964439.jpg"
                           class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                            <img class="img-responsive shelf-img" alt=""
                                 src="http://192.168.1.87:7777/media/CACHE/images/collections/image/e/d/e3d395ce-4ac4-4dcc-9e9c-042ce0964439/d90d7f1db7aeee7f451af9467f9ba7cc.jpg">
                        </a>
                    </div>

                    <div class="col-sm-6 col-xs-6 gallery">
                        <a href="http://192.168.1.87:7777/media/collections/image/d/7/d97a706f-3b69-493b-bb24-5c3a0f8f763d.jpg"
                           class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                            <img class="img-responsive shelf-img" alt=""
                                 src="http://192.168.1.87:7777/media/CACHE/images/collections/image/d/7/d97a706f-3b69-493b-bb24-5c3a0f8f763d/a3ef142f535c18a7a1c782eccba7bab8.jpg">
                        </a>
                    </div>

                </div>


            </div>

            <div class="col-sm-6 gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/1/5/1b57a70e-67b0-4523-a49a-65b0b6e29e00.jpg"
                   class="item-gallery" data-effect="mfp-move-from-top" target="_self">
                    <img class="img-responsive shelf-img" alt=""
                         src="http://192.168.1.87:7777/media/CACHE/images/collections/image/1/5/1b57a70e-67b0-4523-a49a-65b0b6e29e00/d10742fbe6f0f20a344da67ae338679d.jpg">
                </a>
            </div>
        </div>
</section>


<!-- End Collection TPL 3 -->