<!-- Collection TPL 4 -->

<section class="gallery gallery-tpl4 wow fadeInUp animated" data-wow-duration="800ms" >
    <div class="container-fluid">
        <div class="row row-margin ">

            <div class="col-sm-6 gallery-popap">
                <a href="http://192.168.1.87:7777/media/collections/image/4/f/4cf99744-7de8-47df-948b-36c3fddd9c37.jpg" class="item-gallery" data-effect="mfp-zoom-in" target="_self">
                    <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/4/f/4cf99744-7de8-47df-948b-36c3fddd9c37/ed757379a0d25c34465144bc00ac35a0.jpg">
                </a>
            </div>

            <div class="col-sm-6 gallery-popap">
                <a href="http://192.168.1.87:7777/media/collections/image/9/4/9a43aa87-1019-471e-9774-f07ace3c38c3.jpg" class="item-gallery" data-effect="mfp-zoom-in" target="_self">
                    <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/9/4/9a43aa87-1019-471e-9774-f07ace3c38c3/bc3e656a9dfbbbe5a981c15de79ea881.jpg">
                </a>
            </div>

        </div>
    </div>
</section>

<!-- End Collection TPL 4 -->