<!-- Collection TPL 4 -->

<section class="gallery gallery-tpl5 wow fadeInUp animated" data-parallax="true" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin">
            <div class="col-sm-12 gallery-popap">
                <a href="http://192.168.1.87:7777/media/collections/image/f/d/ffda9bed-1467-4e1f-912b-d244e031db45.jpg" class="item-gallery" data-effect="mfp-zoom-in" target="_self">
                    <img src="http://192.168.1.87:7777/media/CACHE/images/collections/image/f/d/ffda9bed-1467-4e1f-912b-d244e031db45/2a6f5090f9f10cae61a972b928153944.jpg" class="img-responsive shelf-img" alt="" data-image-height="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- End Collection TPL 4 -->