<!-- Collection TPL 4 -->

<section class="wow fadeInUp animated" data-wow-duration="800ms">
    <div class="container-fluid">
        <div class="row row-margin ">
            <div class="col-sm-6 gallery">
                <a href="http://192.168.1.87:7777/media/CACHE/images/collections/image/a/1/aa1d25d2-d651-49fc-b6a4-67e21a25a211/bee78b3b176dd76740f14e09d5bd977f.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self" data-image-height="3061">
                    <img class="img-responsive shelf-img"  alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/a/1/aa1d25d2-d651-49fc-b6a4-67e21a25a211/bee78b3b176dd76740f14e09d5bd977f.jpg" />
                </a>
            </div>
            <div class="col-sm-6 gallery">
                <a href="http://192.168.1.87:7777/media/collections/image/2/6/2661a86e-0c2b-45ad-aecc-8431d67f244b.jpg" class="item-gallery" data-effect="mfp-move-from-top" target="_self" data-image-height="3061">
                    <img class="img-responsive shelf-img" alt="" src="http://192.168.1.87:7777/media/CACHE/images/collections/image/2/6/2661a86e-0c2b-45ad-aecc-8431d67f244b/38ceedb56493390bb063759fa59c4086.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>

<!-- End Collection TPL 4 -->